In [1]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

In [13]:
def money(year):
    list_=list()
    for page in range(1,2):
        url='https://www.themoviedb.org/discover/movie?language=en&list_style=1&media_type=movie&page='+str(page)+'&primary_release_year=%s&sort_by=popularity.desc&vote_count.gte=0'%year
        response = requests.get(url)
    
        #check validity of website
        if response.status_code != 200:
            print("Wrong page!")
        else:
            results_page = BeautifulSoup(response.content,'lxml')
            sectors=results_page.find_all('div',{"class":'flex'})
            for sector in sectors:
                movie_link='https://www.themoviedb.org'+sector.find('a').get('href')
                #print(movie_link)
        
                newresponse=requests.get(movie_link)
                if newresponse.status_code != 200:
                    print("Wrong page!")
                else:
                    dict_=dict()
                    results_page = BeautifulSoup(newresponse.content,'lxml')
                    movie_name=results_page.find('h2').get_text()
                    info=results_page.find('section',{"class":'facts left_column'})
                    language=info.find_all('p')[3].get_text()
                    runtime=info.find_all('p')[4].get_text()
                    budget=info.find_all('p')[5].get_text()
                    revenue=info.find_all('p')[6].get_text()
                    
                    list_.append((movie_name,language,runtime,budget,revenue))
    return list_

In [14]:
list_2012=money(2012)
len(list_2012)

21

In [15]:
def name(year):
    name_year=[]
    list_year=money(year)
    for i in range(len(list_year)):
        name_year.append(list_year[i][0])
    return name_year

In [16]:
def language(year):
    language_year=list()
    lang_year_re=list()
    list_year=money(year)
    for i in range(len(list_year)):
        language_year.append(list_year[i][1])
        
    for j in language_year:
        pattern=r' \w+$'
        match = re.findall(pattern, j)
        lang_year_re.append(match)
    return lang_year_re

In [17]:
def runtime(year):
    runtime_year=list()
    runtime_year_re=list()
    list_year=money(year)
    for i in range(len(money(year))):
        runtime_year.append(money(year)[i][2])

    for j in runtime_year:
        pattern=r'\w+ \w+m$'
        match = re.findall(pattern, j)
        runtime_year_re.append(match)
    return runtime_year_re

In [18]:
def budget(year):
    budget_year=list()
    budget_year_re=list()
    list_year=money(year)
    for i in range(len(list_year)):
        budget_year.append(list_year[i][3])

    for j in budget_year:
        pattern=r'[$][0-9,.]+'
        match = re.findall(pattern, j)
        budget_year_re.append(match)
    return budget_year_re

In [19]:
def revenue(year):
    revenue_year=list()
    revenue_year_re=list()
    list_year=money(year)
    for i in range(len(list_year)):
        revenue_year.append(list_year[i][4])

    for j in revenue_year:
        pattern=r'[$][0-9,.]+'
        match = re.findall(pattern, j)
        revenue_year_re.append(match)
    return revenue_year_re

In [20]:
def dataframe(year):
    dic_year={'Movie':name(year),
       'Language':language(year),
       'Runtime':runtime(year),
       'Budget':budget(year),
       'Revenue':revenue(year)}
    dfyear=pd.DataFrame.from_dict(dic_year)
    return dfyear

In [21]:
dataframe(2012)

,Movie,Language,Runtime,Budget,Revenue
0,The Avengers,[ English],[2h 23m],"[$220,000,000.00]","[$1,519,557,910.00]"
1,The Avengers,[ English],[2h 23m],"[$220,000,000.00]","[$1,519,557,910.00]"
2,The Dark Knight Rises,[ English],[2h 45m],"[$250,000,000.00]","[$1,084,939,099.00]"
3,Django Unchained,[],[],[],"[$100,000,000.00]"
4,Brave,[ English],[1h 33m],"[$185,000,000.00]","[$538,983,207.00]"
5,Wreck-It Ralph,[ English],[1h 48m],"[$165,000,000.00]","[$471,222,889.00]"
6,Snow White and the Huntsman,[ English],[2h 7m],"[$170,000,000.00]","[$396,600,000.00]"
7,The Lorax,[ English],[1h 26m],"[$70,000,000.00]","[$348,840,316.00]"
8,The Hobbit: An Unexpected Journey,[ English],[2h 49m],"[$250,000,000.00]","[$1,021,103,568.00]"
9,Mirror Mirror,[ English],[1h 46m],"[$85,000,000.00]","[$183,018,522.00]"
10,Skyfall,[ English],[2h 23m],"[$200,000,000.00]","[$1,108,561,013.00]"
11,The Twilight Saga: Breaking Dawn - Part 2,[ English],[1h 55m],"[$120,000,000.00]","[$829,000,000.00]"
12,The Amazing Spider-Man,[ English],[2h 16m],"[$215,000,000.00]","[$752,215,857.00]"
13,Sexual Chronicles of a French Family,[],[],[],[]
14,Hotel Transylvania,[ English],[1h 31m],"[$85,000,000.00]","[$358,375,603.00]"
15,The Hunger Games,[ English],[2h 22m],"[$75,000,000.00]","[$691,210,692.00]"
16,Prometheus,[ English],[2h 4m],"[$130,000,000.00]","[$403,170,142.00]"
17,21 Jump Street,[ English],[1h 49m],"[$42,000,000.00]","[$201,585,328.00]"
18,Silent Hill: Revelation 3D,[ English],[1h 34m],"[$20,000,000.00]","[$52,302,796.00]"
19,Madagascar 3: Europe's Most Wanted,[ English],[1h 33m],"[$145,000,000.00]","[$746,921,274.00]"
20,Ice Age: Continental Drift,[ English],[1h 28m],"[$95,000,000.00]","[$877,244,782.00]"