In [1]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np

In [3]:
def money(year):
    list_=list()
#     url='https://www.themoviedb.org/discover/movie?language=en&list_style=1&media_type=movie&page='+page+'&primary_release_year=%s&sort_by=popularity.desc&vote_count.gte=0'%year
    for page in range(1,31):
        url='https://www.themoviedb.org/discover/movie?language=en&list_style=1&media_type=movie&page='+str(page)+'&primary_release_year=%s&sort_by=popularity.desc&vote_count.gte=0'%year
        response = requests.get(url)
    
        #check validity of website
        if response.status_code != 200:
            print("Wrong page!")
        else:
            results_page = BeautifulSoup(response.content,'lxml')
            sectors=results_page.find_all('div',{"class":'flex'})
            for sector in sectors:
                movie_link='https://www.themoviedb.org'+sector.find('a').get('href')
                #print(movie_link)
        
                newresponse=requests.get(movie_link)
                if newresponse.status_code != 200:
                    print("Wrong page!")
                else:
                    dict_=dict()
                    results_page = BeautifulSoup(newresponse.content,'lxml')
                    movie_name=results_page.find('h2').get_text()
                    info=results_page.find('section',{"class":'facts left_column'})
#                     language=info.find_all('p')[3].get_text()
                    find=info.find_all('p')
                    for item in find:
                        if 'Original Language' in item.get_text():
                            language=item.get_text()
                        elif 'Runtime' in item.get_text():
                            runtime=item.get_text()
                        elif 'Budget' in item.get_text():
                            budget=item.get_text()
                        elif 'Revenue' in item.get_text():
                            revenue=item.get_text()
                            
#                     runtime=info.find_all('p')[4].get_text()
#                     budget=info.find_all('p')[5].get_text()
#                     revenue=info.find_all('p')[6].get_text()

                    date=results_page.find('ul',{"class":'releases'}).get_text()
                    pattern=r'\w+\s+\d+,\s\d+'
                    string=date
                    match = re.search(pattern, string)
                    release_date=match.group()

                    list_.append((movie_name,language,runtime,budget,revenue,release_date))
                    
#                     list_.append((movie_name,language,runtime,budget,revenue,release_date))
    return list_

In [4]:
list_2012=money(2012)

name_2012=[]
for i in range(len(list_2012)):
    name_2012.append(list_2012[i][0])
name_2012

language_2012=list()
lang_2012_re=list()
for i in range(len(list_2012)):
    language_2012.append(list_2012[i][1])

for j in language_2012:
    pattern=r' \w+$'
    match = re.findall(pattern, j)
    lang_2012_re.append(match)

runtime_2012=list()
runtime_2012_re=list()
for i in range(len(list_2012)):
    runtime_2012.append(list_2012[i][2])

for j in runtime_2012:
    pattern=r'\w+ \w+m$'
    match = re.findall(pattern, j)
    runtime_2012_re.append(match)

budget_2012=list()
budget_2012_re=list()
for i in range(len(list_2012)):
    budget_2012.append(list_2012[i][3])

for j in budget_2012:
    pattern=r'[$][0-9,.]+'
    match = re.findall(pattern, j)
    budget_2012_re.append(match)

revenue_2012=list()
revenue_2012_re=list()
for i in range(len(list_2012)):
    revenue_2012.append(list_2012[i][4])

for j in revenue_2012:
    pattern=r'[$][0-9,.]+'
    match = re.findall(pattern, j)
    revenue_2012_re.append(match)
    
releasedate_2012=list()
for i in range(len(list_2012)):
    releasedate_2012.append(list_2012[i][5])
    
dic_2012={'Movie':name_2012,
          'Release_date':releasedate_2012,
       'Language':lang_2012_re,
       'Runtime':runtime_2012_re,
       'Budget':budget_2012_re,
       'Revenue':revenue_2012_re}

df2012=pd.DataFrame.from_dict(dic_2012)
df2012

,Movie,Release_date,Language,Runtime,Budget,Revenue
0,The Avengers,"May 4, 2012",[ English],[2h 23m],"[$220,000,000.00]","[$1,519,557,910.00]"
1,The Avengers,"May 4, 2012",[ English],[2h 23m],"[$220,000,000.00]","[$1,519,557,910.00]"
2,Snow White and the Huntsman,"June 1, 2012",[ English],[2h 7m],"[$170,000,000.00]","[$396,600,000.00]"
3,The Hobbit: An Unexpected Journey,"December 14, 2012",[ English],[2h 49m],"[$250,000,000.00]","[$1,021,103,568.00]"
4,Brave,"June 22, 2012",[ English],[1h 33m],"[$185,000,000.00]","[$538,983,207.00]"
5,The Dark Knight Rises,"July 20, 2012",[ English],[2h 45m],"[$250,000,000.00]","[$1,084,939,099.00]"
6,Django Unchained,"December 11, 2012",[ English],[2h 45m],"[$100,000,000.00]","[$425,368,238.00]"
7,The Amazing Spider-Man,"July 4, 2012",[ English],[2h 16m],"[$215,000,000.00]","[$752,215,857.00]"
8,Skyfall,"November 9, 2012",[ English],[2h 23m],"[$200,000,000.00]","[$1,108,561,013.00]"
9,Sexual Chronicles of a French Family,"June 1, 2012",[ French],[1h 21m],[],[]
10,The Lorax,"March 1, 2012",[ English],[1h 26m],"[$70,000,000.00]","[$348,840,316.00]"
11,Hotel Transylvania,"September 28, 2012",[ English],[1h 31m],"[$85,000,000.00]","[$358,375,603.00]"
12,Wreck-It Ralph,"November 2, 2012",[ English],[1h 48m],"[$165,000,000.00]","[$471,222,889.00]"
13,Ice Age: Continental Drift,"July 13, 2012",[ English],[1h 28m],"[$95,000,000.00]","[$877,244,782.00]"
14,Mirror Mirror,"March 30, 2012",[ English],[1h 46m],"[$85,000,000.00]","[$183,018,522.00]"
15,The Twilight Saga: Breaking Dawn - Part 2,"November 16, 2012",[ English],[1h 55m],"[$120,000,000.00]","[$829,000,000.00]"
16,I Want You,"June 22, 2012",[ Castilian],[1h 15m],[],[]
17,Argo,"October 12, 2012",[ English],[2h 0m],"[$44,500,000.00]","[$232,324,128.00]"
18,Prometheus,"June 8, 2012",[ English],[2h 4m],"[$130,000,000.00]","[$403,170,142.00]"
19,Wrong Turn 5: Bloodlines,"October 23, 2012",[ English],[1h 31m],[],[]
20,Rise of the Guardians,"November 21, 2012",[ English],[1h 37m],"[$145,000,000.00]","[$306,941,670.00]"
21,Madagascar 3: Europe's Most Wanted,"June 8, 2012",[ English],[1h 33m],"[$145,000,000.00]","[$746,921,274.00]"
22,Madagascar 3: Europe's Most Wanted,"June 8, 2012",[ English],[1h 33m],"[$145,000,000.00]","[$746,921,274.00]"
23,The Hunger Games,"March 23, 2012",[ English],[2h 22m],"[$75,000,000.00]","[$691,210,692.00]"
24,Men in Black 3,"May 25, 2012",[ English],[1h 46m],"[$225,000,000.00]","[$624,026,776.00]"
25,Life of Pi,"November 21, 2012",[ English],[2h 7m],"[$120,000,000.00]","[$609,016,565.00]"
26,Silver Linings Playbook,"December 25, 2012",[ English],[2h 2m],"[$21,000,000.00]","[$236,412,453.00]"
27,21 Jump Street,"March 12, 2012",[ English],[1h 49m],"[$42,000,000.00]","[$201,585,328.00]"
28,The Bourne Legacy,"August 10, 2012",[ English],[2h 15m],"[$130,000,000.00]","[$276,572,938.00]"
29,Christmas Crush,"November 17, 2012",[ English],[1h 28m],[],[]
...,...,...,...,...,...,...
600,Room on the Broom,"December 25, 2012",[ English],[0h 25m],[],[]
601,The End,"November 23, 2012",[ Castilian],[1h 35m],[],[]
602,Kamen Rider × Super Sentai: Super Hero Taisen,"April 21, 2012",[ Japanese],[1h 29m],[],[]
603,Ustad Hotel,"June 29, 2012",[ Malayalam],[2h 30m],[],[]
604,Ti stimo fratello,"January 18, 2012",[ Italian],[],[],[]
605,Measuring the World,"October 24, 2012",[ German],[2h 7m],[],[]
606,Ben 10: Destroy All Aliens,"March 23, 2012",[ English],[1h 6m],[],[]
607,Shell,"November 26, 2012",[ English],[1h 30m],[],[]
608,The Lookout,"September 9, 2012",[ French],[1h 29m],[],[]
609,Barricade,"September 25, 2012",[ English],[1h 22m],[],[]
610,Barricade,"September 25, 2012",[ English],[1h 22m],[],[]
611,Swerve,"December 5, 2013",[ English],[1h 23m],[],[]
612,Grimm's Snow White,"March 13, 2012",[ English],[1h 29m],[],[]
613,Howling,"February 16, 2012",[ Korean],[1h 54m],[],[]
614,Detention of the Dead,"April 27, 2012",[ English],[1h 27m],"[$500,000.00]",[]
615,Buona giornata,"March 30, 2012",[ Italian],[],"[$3,500,000.00]",[]
616,Tabu,"December 26, 2012",[ Portuguese],[1h 50m],[],[]
617,E Aí... Comeu?,"June 22, 2012",[ Portuguese],[1h 40m],[],[]
618,Tai Chi Hero,"April 30, 2013",[ Cantonese],[1h 40m],"[$40,000,000.00]",[]
619,7 Below,"April 17, 2012",[ English],[1h 30m],"[$6,000,000.00]",[]
620,Inescapable,"February 22, 2013",[ English],[1h 33m],[],[]
621,Puella Magi Madoka Magica the Movie Part I: Be...,"October 19, 2012",[ Japanese],[2h 11m],[],[]
622,Pusher,"October 26, 2012",[ English],[1h 26m],[],[]
623,Loosies,"February 1, 2012",[ English],[1h 29m],[],[]
624,The Deep,"July 12, 2013",[ Icelandic],[1h 35m],"[$3,000,000.00]",[]
625,For Greater Glory - The True Story of Cristiada,"June 1, 2012",[ English],[2h 25m],"[$12,000,000.00]","[$9,622,846.00]"
626,Ill Manors,"June 6, 2012",[ English],[2h 1m],"[$170,000.00]",[]
627,Kirikou and the Men and Women,"October 2, 2012",[ French],[1h 28m],[],[]
628,The Stroller Strategy,"November 11, 2012",[ French],[1h 30m],[],"[$3,462.00]"
629,Ek Main Aur Ekk Tu,"February 10, 2012",[ Hindi],[1h 50m],[],[]

In [5]:
list_2013=money(2013)

name_2013=[]
for i in range(len(list_2013)):
    name_2013.append(list_2013[i][0])
name_2013

language_2013=list()
lang_2013_re=list()
for i in range(len(list_2013)):
    language_2013.append(list_2013[i][1])

for j in language_2013:
    pattern=r' \w+$'
    match = re.findall(pattern, j)
    lang_2013_re.append(match)

runtime_2013=list()
runtime_2013_re=list()
for i in range(len(list_2013)):
    runtime_2013.append(list_2013[i][2])

for j in runtime_2013:
    pattern=r'\w+ \w+m$'
    match = re.findall(pattern, j)
    runtime_2013_re.append(match)

budget_2013=list()
budget_2013_re=list()
for i in range(len(list_2013)):
    budget_2013.append(list_2013[i][3])

for j in budget_2013:
    pattern=r'[$][0-9,.]+'
    match = re.findall(pattern, j)
    budget_2013_re.append(match)

revenue_2013=list()
revenue_2013_re=list()
for i in range(len(list_2013)):
    revenue_2013.append(list_2013[i][4])

for j in revenue_2013:
    pattern=r'[$][0-9,.]+'
    match = re.findall(pattern, j)
    revenue_2013_re.append(match)
    
releasedate_2013=list()
for i in range(len(list_2013)):
    releasedate_2013.append(list_2013[i][5])
    
dic_2013={'Movie':name_2013,
          'Release_date':releasedate_2013,
       'Language':lang_2013_re,
       'Runtime':runtime_2013_re,
       'Budget':budget_2013_re,
       'Revenue':revenue_2013_re}

df2013=pd.DataFrame.from_dict(dic_2013)
df2013

,Movie,Release_date,Language,Runtime,Budget,Revenue
0,Frozen,"November 19, 2013",[ English],[1h 42m],"[$150,000,000.00]","[$1,274,219,009.00]"
1,Frozen,"November 19, 2013",[ English],[1h 42m],"[$150,000,000.00]","[$1,274,219,009.00]"
2,The Purge,"June 6, 2013",[ English],[1h 26m],"[$3,000,000.00]","[$89,328,627.00]"
3,Thor: The Dark World,"November 8, 2013",[ English],[1h 52m],"[$170,000,000.00]","[$644,571,402.00]"
4,The Wolf of Wall Street,"December 17, 2013",[ English],[3h 0m],"[$100,000,000.00]","[$392,000,694.00]"
5,Despicable Me 2,"July 3, 2013",[ English],[1h 38m],"[$76,000,000.00]","[$970,761,885.00]"
6,The Hunger Games: Catching Fire,"November 22, 2013",[ English],[2h 26m],"[$130,000,000.00]","[$847,423,452.00]"
7,Man of Steel,"June 14, 2013",[ English],[2h 23m],"[$225,000,000.00]","[$668,045,518.00]"
8,Iron Man 3,"May 3, 2013",[ English],[2h 10m],"[$200,000,000.00]","[$1,215,439,994.00]"
9,The Hobbit: The Desolation of Smaug,"December 13, 2013",[ English],[2h 41m],"[$250,000,000.00]","[$958,400,000.00]"
10,Gravity,"August 31, 2013",[ English],[1h 31m],"[$105,000,000.00]","[$716,392,705.00]"
11,Now You See Me,"May 31, 2013",[ English],[1h 56m],"[$75,000,000.00]","[$117,698,894.00]"
12,The Love Punch,"September 12, 2013",[ English],[1h 34m],[],[]
13,The Conjuring,"July 19, 2013",[ English],[1h 52m],"[$13,000,000.00]","[$319,494,638.00]"
14,Monsters University,"June 21, 2013",[ English],[1h 44m],"[$200,000,000.00]","[$743,559,607.00]"
15,Star Trek Into Darkness,"May 16, 2013",[ English],[2h 12m],"[$190,000,000.00]","[$467,365,246.00]"
16,Elysium,"August 9, 2013",[ English],[1h 49m],"[$115,000,000.00]","[$286,140,700.00]"
17,Indovina chi viene a Natale?,"December 19, 2013",[ Italian],[1h 34m],[],[]
18,Pacific Rim,"July 12, 2013",[ English],[2h 11m],"[$180,000,000.00]","[$407,602,906.00]"
19,12 Years a Slave,"October 30, 2013",[ English],[2h 14m],"[$20,000,000.00]","[$187,000,000.00]"
20,American Hustle,"December 12, 2013",[ English],[2h 18m],"[$40,000,000.00]","[$251,171,807.00]"
21,Enemy,"March 14, 2014",[ English],[1h 31m],[],"[$3,396,726.00]"
22,Enemy,"March 14, 2014",[ English],[1h 31m],[],"[$3,396,726.00]"
23,Oblivion,"April 18, 2013",[ English],[2h 4m],"[$120,000,000.00]","[$286,168,572.00]"
24,World War Z,"June 21, 2013",[ English],[1h 56m],"[$200,000,000.00]","[$531,865,000.00]"
25,Her,"October 12, 2013",[ English],[2h 6m],"[$23,000,000.00]","[$47,351,251.00]"
26,Kick-Ass 2,"August 16, 2013",[ English],[1h 43m],"[$28,000,000.00]","[$60,700,000.00]"
27,The Great Gatsby,"May 10, 2013",[ English],[2h 23m],"[$105,000,000.00]","[$351,040,419.00]"
28,Prisoners,"September 21, 2013",[ English],[2h 33m],"[$46,000,000.00]","[$122,126,687.00]"
29,Evil Dead,"April 5, 2013",[ English],[1h 31m],"[$17,000,000.00]","[$97,542,952.00]"
...,...,...,...,...,...,...
600,Dark Touch,"September 27, 2013",[ English],[1h 30m],[],[]
601,Goddess,"March 12, 2013",[ English],[1h 45m],[$114.00],[]
602,HK: Forbidden Super Hero,"April 13, 2013",[ Japanese],[1h 45m],[],[]
603,Antboy,"December 30, 2013",[ Danish],[1h 16m],[],[]
604,So Young,"April 25, 2013",[ Chinese],[2h 11m],[],"[$116,000,000.00]"
605,Love Is the Perfect Crime,"September 7, 2013",[ French],[1h 50m],[],[]
606,Jan Dara: The Finale,"February 7, 2013",[ Thai],[2h 18m],[],[]
607,Proxy,"September 19, 2013",[ English],[2h 2m],[],[]
608,Compulsion,"June 21, 2013",[ English],[1h 28m],"[$4,000,000.00]",[]
609,Kink,"January 19, 2013",[ English],[1h 20m],[],[]
610,Kink,"January 19, 2013",[ English],[1h 20m],[],[]
611,Wetlands,"November 18, 2013",[ German],[1h 49m],[],[]
612,The White Storm,"November 29, 2013",[ Cantonese],[2h 20m],[],[]
613,A Teacher,"September 6, 2013",[ English],[1h 15m],"[$100,000.00]",[]
614,Straight A's,"March 19, 2013",[ English],[1h 28m],"[$2,000,000.00]",[]
615,Waltz for Monica,"September 13, 2013",[ Swedish],[1h 51m],[],[]
616,Mystery Road,"June 5, 2013",[ English],[2h 1m],[],[]
617,Montage,"May 16, 2013",[ Korean],[1h 59m],[],[]
618,Madras Cafe,"August 23, 2013",[ Hindi],[2h 10m],"[$5,400,000.00]","[$6,500,000.00]"
619,The Scapegoat,"December 10, 2013",[ French],[1h 32m],[],[]
620,A Birder's Guide to Everything,"April 21, 2013",[ English],[1h 26m],[],[]
621,Life of a King,"June 22, 2013",[ English],[1h 41m],[],[]
622,Metro Manila,"January 20, 2013",[ Tagalog],[1h 54m],[],[]
623,Collision,"January 28, 2014",[ English],[1h 41m],"[$7,700,000.00]",[]
624,Sword Art Online: Extra Edition,"April 16, 2013",[ Japanese],[1h 41m],[],[]
625,Downloaded,"June 21, 2013",[ English],[1h 46m],[],[]
626,Blue Caprice,"September 13, 2013",[ English],[1h 33m],[],[]
627,Saving General Yang,"April 4, 2013",[ Chinese],[1h 42m],"[$20,000,000.00]",[]
628,Playing Dead,"December 11, 2013",[ French],[1h 44m],[],[]
629,I Am Divine,"March 9, 2013",[ English],[1h 30m],[],[]

In [6]:
list_2014=money(2014)

name_2014=[]
for i in range(len(list_2014)):
    name_2014.append(list_2014[i][0])
name_2014

language_2014=list()
lang_2014_re=list()
for i in range(len(list_2014)):
    language_2014.append(list_2014[i][1])

for j in language_2014:
    pattern=r' \w+$'
    match = re.findall(pattern, j)
    lang_2014_re.append(match)

runtime_2014=list()
runtime_2014_re=list()
for i in range(len(list_2014)):
    runtime_2014.append(list_2014[i][2])

for j in runtime_2014:
    pattern=r'\w+ \w+m$'
    match = re.findall(pattern, j)
    runtime_2014_re.append(match)

budget_2014=list()
budget_2014_re=list()
for i in range(len(list_2014)):
    budget_2014.append(list_2014[i][3])

for j in budget_2014:
    pattern=r'[$][0-9,.]+'
    match = re.findall(pattern, j)
    budget_2014_re.append(match)

revenue_2014=list()
revenue_2014_re=list()
for i in range(len(list_2014)):
    revenue_2014.append(list_2014[i][4])

for j in revenue_2014:
    pattern=r'[$][0-9,.]+'
    match = re.findall(pattern, j)
    revenue_2014_re.append(match)
    
releasedate_2014=list()
for i in range(len(list_2014)):
    releasedate_2014.append(list_2014[i][5])
    
dic_2014={'Movie':name_2014,
          'Release_date':releasedate_2014,
       'Language':lang_2014_re,
       'Runtime':runtime_2014_re,
       'Budget':budget_2014_re,
       'Revenue':revenue_2014_re}

df2014=pd.DataFrame.from_dict(dic_2014)
df2014

,Movie,Release_date,Language,Runtime,Budget,Revenue
0,Guardians of the Galaxy,"August 1, 2014",[ English],[2h 1m],"[$170,000,000.00]","[$773,328,629.00]"
1,Guardians of the Galaxy,"August 1, 2014",[ English],[2h 1m],"[$170,000,000.00]","[$773,328,629.00]"
2,The Hobbit: The Battle of the Five Armies,"December 17, 2014",[ English],[2h 24m],"[$250,000,000.00]","[$956,019,788.00]"
3,Interstellar,"October 26, 2014",[ English],[2h 49m],"[$165,000,000.00]","[$675,120,017.00]"
4,The Maze Runner,"September 19, 2014",[ English],[1h 53m],"[$34,000,000.00]","[$348,300,000.00]"
5,John Wick,"October 24, 2014",[ English],[1h 41m],"[$20,000,000.00]","[$88,761,661.00]"
6,The Hunger Games: Mockingjay - Part 1,"November 21, 2014",[ English],[2h 3m],"[$125,000,000.00]","[$752,100,229.00]"
7,The Equalizer,"September 26, 2014",[ English],[2h 12m],"[$55,000,000.00]","[$192,330,738.00]"
8,Whiplash,"January 16, 2014",[ English],[1h 47m],"[$3,300,000.00]","[$13,092,000.00]"
9,X-Men: Days of Future Past,"May 23, 2014",[ English],[2h 11m],"[$250,000,000.00]","[$747,862,775.00]"
10,Big Hero 6,"October 25, 2014",[ English],[1h 42m],"[$165,000,000.00]","[$657,818,612.00]"
11,Nightcrawler,"October 31, 2014",[ English],[1h 58m],"[$8,500,000.00]","[$50,300,000.00]"
12,Edge of Tomorrow,"June 6, 2014",[ English],[1h 53m],"[$178,000,000.00]","[$370,541,256.00]"
13,The Imitation Game,"August 29, 2014",[ English],[1h 53m],"[$14,000,000.00]","[$233,555,708.00]"
14,The Purge: Anarchy,"July 18, 2014",[ English],[1h 44m],"[$9,000,000.00]","[$108,782,847.00]"
15,Night at the Museum: Secret of the Tomb,"December 19, 2014",[ English],[1h 37m],"[$127,000,000.00]","[$349,424,282.00]"
16,Fury,"October 15, 2014",[ English],[2h 15m],"[$68,000,000.00]","[$211,817,906.00]"
17,Dawn of the Planet of the Apes,"July 11, 2014",[ English],[2h 10m],"[$170,000,000.00]","[$710,644,566.00]"
18,Birdman,"October 17, 2014",[ English],[2h 0m],"[$18,000,000.00]","[$103,215,094.00]"
19,Gone Girl,"September 26, 2014",[ English],[2h 25m],"[$61,000,000.00]","[$369,330,363.00]"
20,Inherent Vice,"October 4, 2014",[ English],[2h 28m],"[$20,000,000.00]","[$11,110,975.00]"
21,Maleficent,"May 30, 2014",[ English],[1h 37m],"[$180,000,000.00]","[$758,539,785.00]"
22,Maleficent,"May 30, 2014",[ English],[1h 37m],"[$180,000,000.00]","[$758,539,785.00]"
23,Penguins of Madagascar,"November 26, 2014",[ English],[1h 32m],"[$132,000,000.00]","[$373,552,094.00]"
24,It Follows,"September 24, 2014",[ English],[1h 41m],"[$2,000,000.00]","[$14,674,076.00]"
25,Transformers: Age of Extinction,"June 27, 2014",[ English],[2h 45m],"[$210,000,000.00]","[$1,091,405,097.00]"
26,Dracula Untold,"October 3, 2014",[ English],[1h 32m],"[$10,000,000.00]","[$217,124,280.00]"
27,Sin City: A Dame to Kill For,"August 22, 2014",[ English],[1h 42m],"[$65,000,000.00]","[$39,407,616.00]"
28,Teenage Mutant Ninja Turtles,"August 8, 2014",[ English],[1h 41m],"[$125,000,000.00]","[$477,200,000.00]"
29,Sex Tape,"July 18, 2014",[ English],[1h 37m],"[$40,000,000.00]","[$126,069,509.00]"
...,...,...,...,...,...,...
600,Jamesy Boy,"January 3, 2014",[ English],[1h 49m],[],[]
601,The Opposite Sex,"November 8, 2014",[ English],[1h 36m],"[$3,300,000.00]","[$45,000.00]"
602,Parasyte: Part 1,"November 29, 2014",[ Japanese],[1h 49m],[],[]
603,See No Evil 2,"October 21, 2014",[ English],[1h 30m],[],[]
604,What's Going On With My Sister,"May 17, 2014",[ Japanese],[1h 57m],[],[]
605,Iris,"October 9, 2014",[ English],[1h 23m],[],[]
606,The World of Kanako,"October 11, 2014",[ Japanese],[1h 58m],[],[]
607,Ghost in the Shell Arise - Border 4: Ghost Sta...,"September 6, 2014",[ Japanese],[0h 59m],[],[]
608,The Pirates,"August 6, 2014",[ Korean],[2h 10m],[],[]
609,Mortadelo and Filemon: Mission Implausible,"August 30, 2014",[ Castilian],[],"[$10,000,000.00]",[]
610,Mortadelo and Filemon: Mission Implausible,"August 30, 2014",[ Castilian],[],"[$10,000,000.00]",[]
611,A Woman as a Friend,"October 4, 2014",[ Italian],[1h 28m],[],[]
612,LEGO DC Comics Super Heroes: Batman: Be-Leaguered,"October 27, 2014",[ English],[0h 22m],[],[]
613,Les Souvenirs,"March 26, 2014",[ French],[1h 36m],"[$5,300,000.00]",[]
614,Lilting,"January 16, 2014",[ English],[1h 31m],[],[]
615,Pasolini,"September 25, 2014",[ Italian],[1h 27m],[],[]
616,Seal Team Eight: Behind Enemy Lines,"March 1, 2014",[ English],[1h 38m],[],[]
617,Amour sur place ou à emporter,"May 28, 2014",[ French],[1h 25m],[],[]
618,Nobody from Nowhere,"November 19, 2014",[ French],[1h 58m],[],[]
619,The Outsider,"March 11, 2014",[ English],[1h 34m],"[$4,000,000.00]",[]
620,By the Gun,"December 5, 2014",[ English],[1h 45m],[],[]
621,The Single Moms Club,"March 14, 2014",[ English],[1h 51m],[],"[$16,337,881.00]"
622,Someone Marry Barry,"February 7, 2014",[ English],[1h 26m],[],[]
623,The Perfect Dictatorship,"October 16, 2014",[ Castilian],[2h 23m],[],[]
624,Scooby-Doo! WrestleMania Mystery,"March 25, 2014",[ English],[1h 24m],[],[]
625,Time Out of Mind,"September 9, 2015",[ English],[2h 0m],[],"[$166,775.00]"
626,Jacky in the Kingdom of Women,"June 26, 2014",[ French],[1h 30m],[],[]
627,Naked Ambition 3D,"March 25, 2014",[ Cantonese],[1h 47m],[],[]
628,The Finishers,"March 26, 2014",[ French],[1h 34m],[],[]
629,Animal,"June 17, 2014",[ English],[1h 26m],[],[]

In [7]:
list_2015=money(2015)

name_2015=[]
for i in range(len(list_2015)):
    name_2015.append(list_2015[i][0])
name_2015

language_2015=list()
lang_2015_re=list()
for i in range(len(list_2015)):
    language_2015.append(list_2015[i][1])
    
for j in language_2015:
    pattern=r' \w+$'
    match = re.findall(pattern, j)
    lang_2015_re.append(match)

runtime_2015=list()
runtime_2015_re=list()
for i in range(len(list_2015)):
    runtime_2015.append(list_2015[i][2])

for j in runtime_2015:
    pattern=r'\w+ \w+m$'
    match = re.findall(pattern, j)
    runtime_2015_re.append(match)

budget_2015=list()
budget_2015_re=list()
for i in range(len(list_2015)):
    budget_2015.append(list_2015[i][3])

for j in budget_2015:
    pattern=r'[$][0-9,.]+'
    match = re.findall(pattern, j)
    budget_2015_re.append(match)

revenue_2015=list()
revenue_2015_re=list()
for i in range(len(list_2015)):
    revenue_2015.append(list_2015[i][4])

for j in revenue_2015:
    pattern=r'[$][0-9,.]+'
    match = re.findall(pattern, j)
    revenue_2015_re.append(match)
    
releasedate_2015=list()
for i in range(len(list_2015)):
    releasedate_2015.append(list_2015[i][5])
    
dic_2015={'Movie':name_2015,
          'Release_date':releasedate_2015,
       'Language':lang_2015_re,
       'Runtime':runtime_2015_re,
       'Budget':budget_2015_re,
       'Revenue':revenue_2015_re}

df2015=pd.DataFrame.from_dict(dic_2015)
df2015

,Movie,Release_date,Language,Runtime,Budget,Revenue
0,Avengers: Age of Ultron,"May 1, 2015",[ English],[2h 21m],"[$280,000,000.00]","[$1,405,403,694.00]"
1,Avengers: Age of Ultron,"May 1, 2015",[ English],[2h 21m],"[$280,000,000.00]","[$1,405,403,694.00]"
2,Ant-Man,"June 29, 2015",[ English],[1h 57m],"[$130,000,000.00]","[$519,311,965.00]"
3,The Martian,"September 27, 2015",[ English],[2h 21m],"[$108,000,000.00]","[$630,161,890.00]"
4,Spectre,"November 6, 2015",[ English],[2h 28m],"[$245,000,000.00]","[$880,674,609.00]"
5,Mission: Impossible - Rogue Nation,"July 31, 2015",[ English],[2h 11m],"[$150,000,000.00]","[$682,330,139.00]"
6,Mad Max: Fury Road,"May 7, 2015",[ English],[2h 1m],"[$150,000,000.00]","[$378,858,340.00]"
7,Jurassic World,"June 9, 2015",[ English],[2h 4m],"[$150,000,000.00]","[$1,671,713,208.00]"
8,Terminator Genisys,"July 1, 2015",[ English],[2h 6m],"[$155,000,000.00]","[$440,603,537.00]"
9,Child 44,"April 17, 2015",[ English],[2h 17m],"[$50,000,000.00]","[$3,324,330.00]"
10,Inside Out,"June 4, 2015",[ English],[1h 35m],"[$175,000,000.00]","[$857,611,174.00]"
11,Star Wars: The Force Awakens,"December 14, 2015",[ English],[2h 16m],"[$245,000,000.00]","[$2,068,223,624.00]"
12,Female War: A Nasty Deal,"September 27, 2015",[ Korean],[1h 50m],[],[]
13,Creed,"November 25, 2015",[ English],[2h 13m],"[$37,000,000.00]","[$173,567,581.00]"
14,Fifty Shades of Grey,"February 13, 2015",[ English],[2h 5m],"[$40,000,000.00]","[$571,006,128.00]"
15,Cinderella,"March 13, 2015",[ English],[1h 45m],"[$95,000,000.00]","[$543,514,353.00]"
16,Goosebumps,"October 16, 2015",[ English],[1h 43m],"[$58,000,000.00]","[$158,162,788.00]"
17,Hotel Transylvania 2,"September 25, 2015",[ English],[1h 29m],"[$80,000,000.00]","[$473,226,958.00]"
18,Insurgent,"March 20, 2015",[ English],[1h 59m],"[$110,000,000.00]","[$295,238,201.00]"
19,Run All Night,"March 13, 2015",[ English],[1h 54m],"[$50,000,000.00]","[$71,561,644.00]"
20,Ex Machina,"March 14, 2015",[ English],[1h 48m],"[$15,000,000.00]","[$36,869,414.00]"
21,Kingsman: The Secret Service,"December 13, 2014",[ English],[2h 9m],"[$81,000,000.00]","[$414,351,546.00]"
22,Kingsman: The Secret Service,"December 13, 2014",[ English],[2h 9m],"[$81,000,000.00]","[$414,351,546.00]"
23,The Hunger Games: Mockingjay - Part 2,"November 16, 2015",[ English],[2h 17m],"[$160,000,000.00]","[$653,428,261.00]"
24,The Revenant,"December 16, 2015",[ English],[2h 36m],"[$135,000,000.00]","[$532,950,503.00]"
25,Chappie,"March 6, 2015",[ English],[2h 0m],"[$49,000,000.00]","[$104,399,548.00]"
26,Sicario,"September 14, 2015",[ English],[2h 2m],"[$30,000,000.00]","[$84,025,816.00]"
27,San Andreas,"May 29, 2015",[ English],[1h 54m],"[$110,000,000.00]","[$470,490,832.00]"
28,Pixels,"July 24, 2015",[ English],[1h 45m],"[$88,000,000.00]","[$243,637,091.00]"
29,Survivor,"May 29, 2015",[ English],[1h 36m],"[$20,000,000.00]",[]
...,...,...,...,...,...,...
600,The Boy,"August 14, 2015",[ English],[1h 45m],[],[]
601,The New Kid,"December 23, 2015",[ French],[1h 21m],[],[]
602,The Fear of 13,"October 15, 2015",[ English],[1h 32m],[],[]
603,Courted,"April 17, 2016",[ French],[1h 38m],[],[]
604,Loucas pra Casar,"January 8, 2015",[ Portuguese],[1h 30m],"[$3,000,000.00]",[]
605,Scared Topless,"October 1, 2015",[ English],[1h 20m],[],[]
606,The Marine 4: Moving Target,"April 10, 2015",[ English],[1h 30m],"[$1,950,000.00]",[]
607,Tanna,"May 4, 2016",[ English],[1h 40m],[],[]
608,Getaway of Love,"August 28, 2015",[ Italian],[1h 30m],[],[]
609,The Bad Education Movie,"August 21, 2015",[ English],[1h 30m],[],[]
610,The Bad Education Movie,"August 21, 2015",[ English],[1h 30m],[],[]
611,The Hoarder,"May 21, 2015",[ English],[1h 26m],[],[]
612,Dil Dhadakne Do,"June 5, 2015",[ Hindi],[2h 50m],"[$13,000,000.00]","[$22,000,000.00]"
613,Meu Passado Me Condena 2,"July 2, 2015",[ Portuguese],[],[],[]
614,Monkey King: Hero Is Back,"July 10, 2015",[ Chinese],[1h 29m],"[$10,000,000.00]","[$150,000,000.00]"
615,The Harvesting,"January 3, 2015",[ English],[],[],[]
616,Stung,"July 3, 2015",[ English],[1h 27m],"[$2,500,000.00]",[]
617,Tiger Woman,"November 12, 2015",[ Thai],[1h 20m],[],[]
618,Hungry Hearts,"June 5, 2015",[ English],[1h 49m],[],"[$6,921.00]"
619,Monk Comes Down the Mountain,"July 3, 2015",[ Chinese],[1h 53m],[],[]
620,Avengers Grimm,"March 17, 2015",[ English],[1h 30m],[],[]
621,French Cuisine,"December 30, 2015",[ French],[1h 21m],[],[]
622,Monkey Kingdom,"April 17, 2015",[ English],[1h 21m],[],"[$16,661,077.00]"
623,Meadowland,"April 17, 2015",[ English],[1h 45m],[],[]
624,LEGO DC Comics Super Heroes: Justice League vs...,"February 10, 2015",[ English],[0h 48m],[],[]
625,Macadam Stories,"May 17, 2015",[ French],[1h 40m],[],[]
626,Old 37,"March 21, 2015",[ English],[1h 24m],[],[]
627,Nina Forever,"March 14, 2015",[ English],[1h 38m],[],[]
628,Much Loved,"September 16, 2015",[ French],[1h 48m],[],[]
629,The Treacherous,"May 21, 2015",[ Korean],[2h 13m],[],[]

In [8]:
list_2016=money(2016)

name_2016=[]
for i in range(len(list_2016)):
    name_2016.append(list_2016[i][0])
name_2016

language_2016=list()
lang_2016_re=list()
for i in range(len(list_2016)):
    language_2016.append(list_2016[i][1])
    
for j in language_2016:
    pattern=r' \w+$'
    match = re.findall(pattern, j)
    lang_2016_re.append(match)

runtime_2016=list()
runtime_2016_re=list()
for i in range(len(list_2016)):
    runtime_2016.append(list_2016[i][2])

for j in runtime_2016:
    pattern=r'\w+ \w+m$'
    match = re.findall(pattern, j)
    runtime_2016_re.append(match)

budget_2016=list()
budget_2016_re=list()
for i in range(len(list_2016)):
    budget_2016.append(list_2016[i][3])

for j in budget_2016:
    pattern=r'[$][0-9,.]+'
    match = re.findall(pattern, j)
    budget_2016_re.append(match)

revenue_2016=list()
revenue_2016_re=list()
for i in range(len(list_2016)):
    revenue_2016.append(list_2016[i][4])

for j in revenue_2016:
    pattern=r'[$][0-9,.]+'
    match = re.findall(pattern, j)
    revenue_2016_re.append(match)
    
releasedate_2016=list()
for i in range(len(list_2016)):
    releasedate_2016.append(list_2016[i][5])
    
dic_2016={'Movie':name_2016,
          'Release_date':releasedate_2016,
       'Language':lang_2016_re,
       'Runtime':runtime_2016_re,
       'Budget':budget_2016_re,
       'Revenue':revenue_2016_re}

df2016=pd.DataFrame.from_dict(dic_2016)
df2016

,Movie,Release_date,Language,Runtime,Budget,Revenue
0,Captain America: Civil War,"April 12, 2016",[ English],[2h 27m],"[$240,000,000.00]","[$1,153,304,495.00]"
1,Captain America: Civil War,"April 12, 2016",[ English],[2h 27m],"[$240,000,000.00]","[$1,153,304,495.00]"
2,Fantastic Beasts and Where to Find Them,"November 10, 2016",[ English],[2h 13m],"[$180,000,000.00]","[$809,342,332.00]"
3,Now You See Me 2,"June 10, 2016",[ English],[2h 9m],"[$90,000,000.00]","[$334,901,337.00]"
4,X-Men: Apocalypse,"May 27, 2016",[ English],[2h 24m],"[$178,000,000.00]","[$543,934,787.00]"
5,Zootopia,"March 4, 2016",[ English],[1h 49m],"[$150,000,000.00]","[$1,023,784,195.00]"
6,Doctor Strange,"November 4, 2016",[ English],[1h 55m],"[$166,000,000.00]","[$677,718,395.00]"
7,Batman v Superman: Dawn of Justice,"March 20, 2016",[ English],[2h 31m],"[$250,000,000.00]","[$873,260,194.00]"
8,Deadpool,"February 12, 2016",[ English],[1h 48m],"[$58,000,000.00]","[$783,100,000.00]"
9,Hacksaw Ridge,"November 4, 2016",[ English],[2h 20m],"[$40,000,000.00]","[$175,302,354.00]"
10,Your Name.,"July 3, 2016",[ Japanese],[1h 46m],[],"[$355,398,372.00]"
11,Arrival,"September 2, 2016",[ English],[1h 56m],"[$47,000,000.00]","[$203,388,186.00]"
12,Hidden Figures,"December 10, 2016",[ English],[2h 7m],"[$25,000,000.00]","[$230,698,791.00]"
13,Lion,"September 30, 2016",[ English],[1h 58m],"[$12,000,000.00]","[$140,302,754.00]"
14,Hart Beat,"October 12, 2016",[ Flemish],[1h 26m],[],[]
15,Rogue One: A Star Wars Story,"December 10, 2016",[ English],[2h 13m],"[$200,000,000.00]","[$1,056,057,273.00]"
16,Sing,"December 21, 2016",[ English],[1h 48m],"[$75,000,000.00]","[$632,443,719.00]"
17,The Purge: Election Year,"July 1, 2016",[ English],[1h 45m],"[$10,000,000.00]","[$118,587,880.00]"
18,Kubo and the Two Strings,"August 19, 2016",[ English],[1h 42m],"[$60,000,000.00]","[$69,929,545.00]"
19,La La Land,"September 2, 2016",[ English],[2h 9m],"[$30,000,000.00]","[$445,435,700.00]"
20,Alice Through the Looking Glass,"May 27, 2016",[ English],[1h 53m],"[$170,000,000.00]","[$299,370,084.00]"
21,Warcraft,"June 10, 2016",[ English],[2h 3m],"[$160,000,000.00]","[$433,677,183.00]"
22,Warcraft,"June 10, 2016",[ English],[2h 3m],"[$160,000,000.00]","[$433,677,183.00]"
23,Sully,"September 2, 2016",[ English],[1h 36m],"[$60,000,000.00]","[$238,470,033.00]"
24,Finding Dory,"June 8, 2016",[ English],[1h 37m],"[$200,000,000.00]","[$1,028,570,889.00]"
25,Jason Bourne,"July 29, 2016",[ English],[2h 3m],"[$120,000,000.00]","[$415,484,914.00]"
26,Suicide Squad,"August 1, 2016",[ English],[2h 4m],"[$176,000,000.00]","[$745,600,054.00]"
27,Ice Age: Collision Course,"July 22, 2016",[ English],[1h 40m],"[$105,000,000.00]","[$408,579,038.00]"
28,Underworld: Blood Wars,"January 6, 2017",[ English],[1h 31m],"[$35,000,000.00]","[$81,093,313.00]"
29,Allegiant,"March 18, 2016",[ English],[2h 1m],"[$110,000,000.00]","[$179,246,868.00]"
...,...,...,...,...,...,...
600,The Childhood of a Leader,"July 22, 2016",[ English],[1h 55m],"[$3,000,000.00]",[]
601,Antiporno,"December 29, 2017",[ Japanese],[1h 18m],[],[]
602,The Curse of Sleeping Beauty,"May 13, 2016",[ English],[1h 29m],[],[]
603,Bo Burnham: Make Happy,"June 3, 2016",[ English],[1h 0m],[],[]
604,The Confirmation,"March 18, 2016",[ English],[1h 41m],[],[]
605,The Remains,"August 5, 2016",[ English],[1h 25m],[],[]
606,Lemonade,"April 23, 2016",[ English],[1h 5m],[],[]
607,Adult Life Skills,"April 17, 2016",[ English],[1h 36m],[],[]
608,Sheep & Wolves,"June 13, 2016",[ Russian],[1h 37m],[],[]
609,Siren,"December 2, 2016",[ English],[1h 22m],[],[]
610,Siren,"December 2, 2016",[ English],[1h 22m],[],[]
611,After Love,"May 13, 2016",[ French],[1h 38m],[],[]
612,Moana,"November 14, 2016",[ English],[1h 47m],"[$150,000,000.00]","[$643,331,111.00]"
613,In Her Name,"March 16, 2016",[ French],[1h 27m],[],"[$1,600,000.00]"
614,The Black Room,"April 28, 2017",[ English],[1h 31m],[],[]
615,600 Miles,"February 6, 2015",[ Castilian],[1h 25m],[],[]
616,Pitchfork,"September 23, 2016",[ English],[1h 34m],[],[]
617,Stick Man,"October 5, 2016",[ English],[0h 27m],[],[]
618,Infinity Chamber,"April 30, 2016",[ English],[1h 43m],[],[]
619,A Quiet Passion,"July 11, 2017",[ English],[2h 5m],"[$8,138,338.00]","[$1,864,266.00]"
620,Jarhead 3: The Siege,"January 20, 2016",[ English],[1h 35m],[],[]
621,I babysitter,"October 19, 2016",[ Italian],[],[],[]
622,Antibirth,"January 25, 2016",[ English],[1h 34m],"[$35,000,000.00]",[]
623,Panfilov's 28 Men,"November 24, 2016",[ Russian],[1h 45m],[],[]
624,Buffed Up,"July 11, 2016",[ English],[],[],[]
625,Forever Young,"March 10, 2016",[ English],[1h 35m],[],[]
626,Accidentally Engaged,"October 30, 2016",[ English],[1h 26m],[],[]
627,Split,"November 9, 2016",[ Korean],[2h 1m],[],[]
628,Silicon Cowboys,"March 11, 2016",[ English],[1h 17m],[],[]
629,It Stains the Sands Red,"June 20, 2017",[ English],[1h 32m],[],[]

In [9]:
list_2017=money(2017)

name_2017=[]
for i in range(len(list_2017)):
    name_2017.append(list_2017[i][0])
name_2017

language_2017=list()
lang_2017_re=list()
for i in range(len(list_2017)):
    language_2017.append(list_2017[i][1])
    
for j in language_2017:
    pattern=r' \w+$'
    match = re.findall(pattern, j)
    lang_2017_re.append(match)

runtime_2017=list()
runtime_2017_re=list()
for i in range(len(list_2017)):
    runtime_2017.append(list_2017[i][2])

for j in runtime_2017:
    pattern=r'\w+ \w+m$'
    match = re.findall(pattern, j)
    runtime_2017_re.append(match)

budget_2017=list()
budget_2017_re=list()
for i in range(len(list_2017)):
    budget_2017.append(list_2017[i][3])

for j in budget_2017:
    pattern=r'[$][0-9,.]+'
    match = re.findall(pattern, j)
    budget_2017_re.append(match)

revenue_2017=list()
revenue_2017_re=list()
for i in range(len(list_2017)):
    revenue_2017.append(list_2017[i][4])

for j in revenue_2017:
    pattern=r'[$][0-9,.]+'
    match = re.findall(pattern, j)
    revenue_2017_re.append(match)
    
releasedate_2017=list()
for i in range(len(list_2017)):
    releasedate_2017.append(list_2017[i][5])
    
dic_2017={'Movie':name_2017,
          'Release_date':releasedate_2017,
       'Language':lang_2017_re,
       'Runtime':runtime_2017_re,
       'Budget':budget_2017_re,
       'Revenue':revenue_2017_re}

df2017=pd.DataFrame.from_dict(dic_2017)
df2017

,Movie,Release_date,Language,Runtime,Budget,Revenue
0,A Dog's Purpose,"January 27, 2017",[ English],[1h 40m],"[$22,000,000.00]","[$194,647,323.00]"
1,A Dog's Purpose,"January 27, 2017",[ English],[1h 40m],"[$22,000,000.00]","[$194,647,323.00]"
2,Justice League,"November 13, 2017",[ English],[2h 0m],"[$500,000,000.00]","[$657,924,295.00]"
3,Thor: Ragnarok,"October 10, 2017",[ English],[2h 10m],"[$180,000,000.00]","[$853,977,126.00]"
4,Blade Runner 2049,"October 3, 2017",[ English],[2h 43m],"[$150,000,000.00]","[$259,239,658.00]"
5,Star Wars: The Last Jedi,"December 9, 2017",[ English],[2h 32m],"[$200,000,000.00]","[$1,332,459,537.00]"
6,Spider-Man: Homecoming,"July 7, 2017",[ English],[2h 13m],"[$175,000,000.00]","[$880,166,924.00]"
7,The Shape of Water,"September 2, 2017",[ English],[2h 3m],"[$19,500,000.00]","[$194,989,655.00]"
8,The Greatest Showman,"December 8, 2017",[ English],[1h 45m],"[$84,000,000.00]","[$432,844,677.00]"
9,Wonder Woman,"May 25, 2017",[ English],[2h 21m],"[$149,000,000.00]","[$821,847,012.00]"
10,Coco,"November 22, 2017",[ English],[1h 45m],"[$175,000,000.00]","[$800,526,015.00]"
11,Beauty and the Beast,"March 2, 2017",[ English],[2h 9m],"[$160,000,000.00]",[]
12,Guardians of the Galaxy Vol. 2,"May 5, 2017",[ English],[2h 17m],"[$200,000,000.00]","[$863,756,051.00]"
13,Dunkirk,"July 19, 2017",[ English],[1h 47m],"[$100,000,000.00]","[$525,573,161.00]"
14,Logan,"March 3, 2017",[ English],[2h 17m],"[$97,000,000.00]","[$616,801,808.00]"
15,Split,"September 26, 2016",[ English],[1h 57m],"[$9,000,000.00]","[$278,454,358.00]"
16,Geostorm,"October 20, 2017",[ English],[1h 49m],"[$120,000,000.00]","[$221,600,160.00]"
17,Pirates of the Caribbean: Dead Men Tell No Tales,"May 26, 2017",[ English],[2h 9m],"[$230,000,000.00]","[$794,191,988.00]"
18,The Snowman,"October 20, 2017",[ English],[1h 59m],"[$35,000,000.00]","[$43,203,413.00]"
19,Kingsman: The Golden Circle,"September 22, 2017",[ English],[2h 21m],"[$104,000,000.00]","[$410,902,662.00]"
20,War for the Planet of the Apes,"July 10, 2017",[ English],[2h 20m],"[$150,000,000.00]","[$488,533,726.00]"
21,Christmas Wedding Planner,"December 14, 2017",[ English],[1h 26m],[],[]
22,Christmas Wedding Planner,"December 14, 2017",[ English],[1h 26m],[],[]
23,Alien: Covenant,"May 19, 2017",[ English],[2h 2m],"[$97,000,000.00]","[$232,380,243.00]"
24,The Circle,"April 26, 2017",[ English],[1h 50m],"[$18,000,000.00]","[$20,497,844.00]"
25,Wonder,"November 17, 2017",[ English],[1h 53m],"[$20,000,000.00]",[]
26,One Small Indiscretion,"September 2, 2017",[ English],[1h 30m],"[$1,000,000.00]",[]
27,Jigsaw,"October 27, 2017",[ English],[1h 32m],"[$10,000,000.00]","[$102,952,888.00]"
28,The Fate of the Furious,"April 14, 2017",[ English],[2h 16m],"[$250,000,000.00]","[$1,238,764,765.00]"
29,"Three Billboards Outside Ebbing, Missouri","September 21, 2017",[ English],[1h 55m],"[$15,000,000.00]","[$158,526,998.00]"
...,...,...,...,...,...,...
600,Don't Knock Twice,"February 3, 2017",[ English],[1h 33m],[],[]
601,Rattrapage,"August 9, 2017",[ French],[1h 25m],[],[]
602,The Evil Within,"February 27, 2017",[ English],[1h 38m],"[$4,000,000.00]",[]
603,Empire of the Sharks,"August 5, 2017",[ English],[],[],[]
604,The Vault,"September 1, 2017",[ English],[1h 31m],"[$5,000,000.00]","[$5,728.00]"
605,Promise at Dawn,"December 20, 2017",[ French],[2h 10m],[],[]
606,Mr & Mme Adelman,"March 8, 2017",[ French],[2h 0m],[],[]
607,The Adventurers,"August 11, 2017",[ Cantonese],[2h 20m],[],"[$216,556.00]"
608,Rock'n Roll,"February 15, 2017",[ French],[2h 3m],"[$17,900,000.00]",[]
609,Small Town Killers,"January 12, 2017",[ Danish],[1h 30m],[],[]
610,Small Town Killers,"January 12, 2017",[ Danish],[1h 30m],[],[]
611,American Gothic,"October 24, 2017",[ English],[1h 17m],[],[]
612,Tangled: Before Ever After,"March 10, 2017",[ English],[0h 55m],[],[]
613,Legend of the Naga Pearls,"August 11, 2017",[ Chinese],[1h 48m],"[$38,000,000.00]",[]
614,Black Snow,"January 19, 2017",[ Castilian],[1h 30m],"[$4,000,000.00]","[$1,440,000.00]"
615,The Gracefield Incident,"July 21, 2017",[ English],[1h 35m],[],[]
616,Kiss and Kill,"August 8, 2017",[ English],[1h 21m],[],[]
617,Vengeance: A Love Story,"March 16, 2017",[ English],[1h 39m],[],"[$4,526.00]"
618,Tubelight,"June 23, 2017",[ Hindi],[2h 16m],[],[]
619,Django,"February 9, 2017",[ French],[1h 57m],[],"[$11,722.00]"
620,1 Night,"October 14, 2016",[ English],[1h 20m],[],[]
621,Singularity,"November 24, 2017",[ English],[1h 32m],[],[]
622,Crystal Inferno,"November 4, 2017",[ English],[1h 30m],"[$2,342,264.00]",[]
623,Jagga Jasoos,"July 14, 2017",[ Hindi],[3h 0m],[],[]
624,Catfight,"September 8, 2016",[ English],[1h 36m],[],[]
625,Liquid Truth,"October 19, 2017",[ Portuguese],[1h 27m],[],[]
626,Prevenge,"September 1, 2016",[ English],[1h 28m],[],[]
627,Bottom of the World,"March 31, 2017",[ English],[1h 25m],[],[]
628,Atomica,"March 17, 2017",[ English],[1h 21m],[],[]
629,The Truth About Love Is...,"March 30, 2017",[ Italian],[1h 32m],"[$2,469,509.00]",[]

In [14]:
df=df2012[1:].append([df2013[1:],df2014[1:],df2015[1:],df2016[1:], df2017[1:]])
df

,Movie,Release_date,Language,Runtime,Budget,Revenue
1,The Avengers,"May 4, 2012",[ English],[2h 23m],"[$220,000,000.00]","[$1,519,557,910.00]"
2,Snow White and the Huntsman,"June 1, 2012",[ English],[2h 7m],"[$170,000,000.00]","[$396,600,000.00]"
3,The Hobbit: An Unexpected Journey,"December 14, 2012",[ English],[2h 49m],"[$250,000,000.00]","[$1,021,103,568.00]"
4,Brave,"June 22, 2012",[ English],[1h 33m],"[$185,000,000.00]","[$538,983,207.00]"
5,The Dark Knight Rises,"July 20, 2012",[ English],[2h 45m],"[$250,000,000.00]","[$1,084,939,099.00]"
6,Django Unchained,"December 11, 2012",[ English],[2h 45m],"[$100,000,000.00]","[$425,368,238.00]"
7,The Amazing Spider-Man,"July 4, 2012",[ English],[2h 16m],"[$215,000,000.00]","[$752,215,857.00]"
8,Skyfall,"November 9, 2012",[ English],[2h 23m],"[$200,000,000.00]","[$1,108,561,013.00]"
9,Sexual Chronicles of a French Family,"June 1, 2012",[ French],[1h 21m],[],[]
10,The Lorax,"March 1, 2012",[ English],[1h 26m],"[$70,000,000.00]","[$348,840,316.00]"
11,Hotel Transylvania,"September 28, 2012",[ English],[1h 31m],"[$85,000,000.00]","[$358,375,603.00]"
12,Wreck-It Ralph,"November 2, 2012",[ English],[1h 48m],"[$165,000,000.00]","[$471,222,889.00]"
13,Ice Age: Continental Drift,"July 13, 2012",[ English],[1h 28m],"[$95,000,000.00]","[$877,244,782.00]"
14,Mirror Mirror,"March 30, 2012",[ English],[1h 46m],"[$85,000,000.00]","[$183,018,522.00]"
15,The Twilight Saga: Breaking Dawn - Part 2,"November 16, 2012",[ English],[1h 55m],"[$120,000,000.00]","[$829,000,000.00]"
16,I Want You,"June 22, 2012",[ Castilian],[1h 15m],[],[]
17,Argo,"October 12, 2012",[ English],[2h 0m],"[$44,500,000.00]","[$232,324,128.00]"
18,Prometheus,"June 8, 2012",[ English],[2h 4m],"[$130,000,000.00]","[$403,170,142.00]"
19,Wrong Turn 5: Bloodlines,"October 23, 2012",[ English],[1h 31m],[],[]
20,Rise of the Guardians,"November 21, 2012",[ English],[1h 37m],"[$145,000,000.00]","[$306,941,670.00]"
21,Madagascar 3: Europe's Most Wanted,"June 8, 2012",[ English],[1h 33m],"[$145,000,000.00]","[$746,921,274.00]"
22,Madagascar 3: Europe's Most Wanted,"June 8, 2012",[ English],[1h 33m],"[$145,000,000.00]","[$746,921,274.00]"
23,The Hunger Games,"March 23, 2012",[ English],[2h 22m],"[$75,000,000.00]","[$691,210,692.00]"
24,Men in Black 3,"May 25, 2012",[ English],[1h 46m],"[$225,000,000.00]","[$624,026,776.00]"
25,Life of Pi,"November 21, 2012",[ English],[2h 7m],"[$120,000,000.00]","[$609,016,565.00]"
26,Silver Linings Playbook,"December 25, 2012",[ English],[2h 2m],"[$21,000,000.00]","[$236,412,453.00]"
27,21 Jump Street,"March 12, 2012",[ English],[1h 49m],"[$42,000,000.00]","[$201,585,328.00]"
28,The Bourne Legacy,"August 10, 2012",[ English],[2h 15m],"[$130,000,000.00]","[$276,572,938.00]"
29,Christmas Crush,"November 17, 2012",[ English],[1h 28m],[],[]
30,The Expendables 2,"August 17, 2012",[ English],[1h 43m],"[$100,000,000.00]","[$312,573,423.00]"
...,...,...,...,...,...,...
600,Don't Knock Twice,"February 3, 2017",[ English],[1h 33m],[],[]
601,Rattrapage,"August 9, 2017",[ French],[1h 25m],[],[]
602,The Evil Within,"February 27, 2017",[ English],[1h 38m],"[$4,000,000.00]",[]
603,Empire of the Sharks,"August 5, 2017",[ English],[],[],[]
604,The Vault,"September 1, 2017",[ English],[1h 31m],"[$5,000,000.00]","[$5,728.00]"
605,Promise at Dawn,"December 20, 2017",[ French],[2h 10m],[],[]
606,Mr & Mme Adelman,"March 8, 2017",[ French],[2h 0m],[],[]
607,The Adventurers,"August 11, 2017",[ Cantonese],[2h 20m],[],"[$216,556.00]"
608,Rock'n Roll,"February 15, 2017",[ French],[2h 3m],"[$17,900,000.00]",[]
609,Small Town Killers,"January 12, 2017",[ Danish],[1h 30m],[],[]
610,Small Town Killers,"January 12, 2017",[ Danish],[1h 30m],[],[]
611,American Gothic,"October 24, 2017",[ English],[1h 17m],[],[]
612,Tangled: Before Ever After,"March 10, 2017",[ English],[0h 55m],[],[]
613,Legend of the Naga Pearls,"August 11, 2017",[ Chinese],[1h 48m],"[$38,000,000.00]",[]
614,Black Snow,"January 19, 2017",[ Castilian],[1h 30m],"[$4,000,000.00]","[$1,440,000.00]"
615,The Gracefield Incident,"July 21, 2017",[ English],[1h 35m],[],[]
616,Kiss and Kill,"August 8, 2017",[ English],[1h 21m],[],[]
617,Vengeance: A Love Story,"March 16, 2017",[ English],[1h 39m],[],"[$4,526.00]"
618,Tubelight,"June 23, 2017",[ Hindi],[2h 16m],[],[]
619,Django,"February 9, 2017",[ French],[1h 57m],[],"[$11,722.00]"
620,1 Night,"October 14, 2016",[ English],[1h 20m],[],[]
621,Singularity,"November 24, 2017",[ English],[1h 32m],[],[]
622,Crystal Inferno,"November 4, 2017",[ English],[1h 30m],"[$2,342,264.00]",[]
623,Jagga Jasoos,"July 14, 2017",[ Hindi],[3h 0m],[],[]
624,Catfight,"September 8, 2016",[ English],[1h 36m],[],[]
625,Liquid Truth,"October 19, 2017",[ Portuguese],[1h 27m],[],[]
626,Prevenge,"September 1, 2016",[ English],[1h 28m],[],[]
627,Bottom of the World,"March 31, 2017",[ English],[1h 25m],[],[]
628,Atomica,"March 17, 2017",[ English],[1h 21m],[],[]
629,The Truth About Love Is...,"March 30, 2017",[ Italian],[1h 32m],"[$2,469,509.00]",[]

In [15]:
df.set_index('Movie')

,Release_date,Language,Runtime,Budget,Revenue
Movie,,,,,
The Avengers,"May 4, 2012",[ English],[2h 23m],"[$220,000,000.00]","[$1,519,557,910.00]"
Snow White and the Huntsman,"June 1, 2012",[ English],[2h 7m],"[$170,000,000.00]","[$396,600,000.00]"
The Hobbit: An Unexpected Journey,"December 14, 2012",[ English],[2h 49m],"[$250,000,000.00]","[$1,021,103,568.00]"
Brave,"June 22, 2012",[ English],[1h 33m],"[$185,000,000.00]","[$538,983,207.00]"
The Dark Knight Rises,"July 20, 2012",[ English],[2h 45m],"[$250,000,000.00]","[$1,084,939,099.00]"
Django Unchained,"December 11, 2012",[ English],[2h 45m],"[$100,000,000.00]","[$425,368,238.00]"
The Amazing Spider-Man,"July 4, 2012",[ English],[2h 16m],"[$215,000,000.00]","[$752,215,857.00]"
Skyfall,"November 9, 2012",[ English],[2h 23m],"[$200,000,000.00]","[$1,108,561,013.00]"
Sexual Chronicles of a French Family,"June 1, 2012",[ French],[1h 21m],[],[]
The Lorax,"March 1, 2012",[ English],[1h 26m],"[$70,000,000.00]","[$348,840,316.00]"
Hotel Transylvania,"September 28, 2012",[ English],[1h 31m],"[$85,000,000.00]","[$358,375,603.00]"
Wreck-It Ralph,"November 2, 2012",[ English],[1h 48m],"[$165,000,000.00]","[$471,222,889.00]"
Ice Age: Continental Drift,"July 13, 2012",[ English],[1h 28m],"[$95,000,000.00]","[$877,244,782.00]"
Mirror Mirror,"March 30, 2012",[ English],[1h 46m],"[$85,000,000.00]","[$183,018,522.00]"
The Twilight Saga: Breaking Dawn - Part 2,"November 16, 2012",[ English],[1h 55m],"[$120,000,000.00]","[$829,000,000.00]"
I Want You,"June 22, 2012",[ Castilian],[1h 15m],[],[]
Argo,"October 12, 2012",[ English],[2h 0m],"[$44,500,000.00]","[$232,324,128.00]"
Prometheus,"June 8, 2012",[ English],[2h 4m],"[$130,000,000.00]","[$403,170,142.00]"
Wrong Turn 5: Bloodlines,"October 23, 2012",[ English],[1h 31m],[],[]
Rise of the Guardians,"November 21, 2012",[ English],[1h 37m],"[$145,000,000.00]","[$306,941,670.00]"
Madagascar 3: Europe's Most Wanted,"June 8, 2012",[ English],[1h 33m],"[$145,000,000.00]","[$746,921,274.00]"
Madagascar 3: Europe's Most Wanted,"June 8, 2012",[ English],[1h 33m],"[$145,000,000.00]","[$746,921,274.00]"
The Hunger Games,"March 23, 2012",[ English],[2h 22m],"[$75,000,000.00]","[$691,210,692.00]"
Men in Black 3,"May 25, 2012",[ English],[1h 46m],"[$225,000,000.00]","[$624,026,776.00]"
Life of Pi,"November 21, 2012",[ English],[2h 7m],"[$120,000,000.00]","[$609,016,565.00]"
Silver Linings Playbook,"December 25, 2012",[ English],[2h 2m],"[$21,000,000.00]","[$236,412,453.00]"
21 Jump Street,"March 12, 2012",[ English],[1h 49m],"[$42,000,000.00]","[$201,585,328.00]"
The Bourne Legacy,"August 10, 2012",[ English],[2h 15m],"[$130,000,000.00]","[$276,572,938.00]"
Christmas Crush,"November 17, 2012",[ English],[1h 28m],[],[]
The Expendables 2,"August 17, 2012",[ English],[1h 43m],"[$100,000,000.00]","[$312,573,423.00]"
...,...,...,...,...,...
Don't Knock Twice,"February 3, 2017",[ English],[1h 33m],[],[]
Rattrapage,"August 9, 2017",[ French],[1h 25m],[],[]
The Evil Within,"February 27, 2017",[ English],[1h 38m],"[$4,000,000.00]",[]
Empire of the Sharks,"August 5, 2017",[ English],[],[],[]
The Vault,"September 1, 2017",[ English],[1h 31m],"[$5,000,000.00]","[$5,728.00]"
Promise at Dawn,"December 20, 2017",[ French],[2h 10m],[],[]
Mr & Mme Adelman,"March 8, 2017",[ French],[2h 0m],[],[]
The Adventurers,"August 11, 2017",[ Cantonese],[2h 20m],[],"[$216,556.00]"
Rock'n Roll,"February 15, 2017",[ French],[2h 3m],"[$17,900,000.00]",[]
Small Town Killers,"January 12, 2017",[ Danish],[1h 30m],[],[]
Small Town Killers,"January 12, 2017",[ Danish],[1h 30m],[],[]
American Gothic,"October 24, 2017",[ English],[1h 17m],[],[]
Tangled: Before Ever After,"March 10, 2017",[ English],[0h 55m],[],[]
Legend of the Naga Pearls,"August 11, 2017",[ Chinese],[1h 48m],"[$38,000,000.00]",[]
Black Snow,"January 19, 2017",[ Castilian],[1h 30m],"[$4,000,000.00]","[$1,440,000.00]"
The Gracefield Incident,"July 21, 2017",[ English],[1h 35m],[],[]
Kiss and Kill,"August 8, 2017",[ English],[1h 21m],[],[]
Vengeance: A Love Story,"March 16, 2017",[ English],[1h 39m],[],"[$4,526.00]"
Tubelight,"June 23, 2017",[ Hindi],[2h 16m],[],[]
Django,"February 9, 2017",[ French],[1h 57m],[],"[$11,722.00]"
1 Night,"October 14, 2016",[ English],[1h 20m],[],[]
Singularity,"November 24, 2017",[ English],[1h 32m],[],[]
Crystal Inferno,"November 4, 2017",[ English],[1h 30m],"[$2,342,264.00]",[]
Jagga Jasoos,"July 14, 2017",[ Hindi],[3h 0m],[],[]
Catfight,"September 8, 2016",[ English],[1h 36m],[],[]
Liquid Truth,"October 19, 2017",[ Portuguese],[1h 27m],[],[]
Prevenge,"September 1, 2016",[ English],[1h 28m],[],[]
Bottom of the World,"March 31, 2017",[ English],[1h 25m],[],[]
Atomica,"March 17, 2017",[ English],[1h 21m],[],[]
The Truth About Love Is...,"March 30, 2017",[ Italian],[1h 32m],"[$2,469,509.00]",[]

In [16]:
for i in range(len(df['Language'])):
    if df.iloc[i]['Language'] == []:
        df.iloc[i]['Language'] = np.nan
    else:
        df.iloc[i]['Language'] = df.iloc[i]['Language'][0]

In [17]:
df

,Movie,Release_date,Language,Runtime,Budget,Revenue
1,The Avengers,"May 4, 2012",English,[2h 23m],"[$220,000,000.00]","[$1,519,557,910.00]"
2,Snow White and the Huntsman,"June 1, 2012",English,[2h 7m],"[$170,000,000.00]","[$396,600,000.00]"
3,The Hobbit: An Unexpected Journey,"December 14, 2012",English,[2h 49m],"[$250,000,000.00]","[$1,021,103,568.00]"
4,Brave,"June 22, 2012",English,[1h 33m],"[$185,000,000.00]","[$538,983,207.00]"
5,The Dark Knight Rises,"July 20, 2012",English,[2h 45m],"[$250,000,000.00]","[$1,084,939,099.00]"
6,Django Unchained,"December 11, 2012",English,[2h 45m],"[$100,000,000.00]","[$425,368,238.00]"
7,The Amazing Spider-Man,"July 4, 2012",English,[2h 16m],"[$215,000,000.00]","[$752,215,857.00]"
8,Skyfall,"November 9, 2012",English,[2h 23m],"[$200,000,000.00]","[$1,108,561,013.00]"
9,Sexual Chronicles of a French Family,"June 1, 2012",French,[1h 21m],[],[]
10,The Lorax,"March 1, 2012",English,[1h 26m],"[$70,000,000.00]","[$348,840,316.00]"
11,Hotel Transylvania,"September 28, 2012",English,[1h 31m],"[$85,000,000.00]","[$358,375,603.00]"
12,Wreck-It Ralph,"November 2, 2012",English,[1h 48m],"[$165,000,000.00]","[$471,222,889.00]"
13,Ice Age: Continental Drift,"July 13, 2012",English,[1h 28m],"[$95,000,000.00]","[$877,244,782.00]"
14,Mirror Mirror,"March 30, 2012",English,[1h 46m],"[$85,000,000.00]","[$183,018,522.00]"
15,The Twilight Saga: Breaking Dawn - Part 2,"November 16, 2012",English,[1h 55m],"[$120,000,000.00]","[$829,000,000.00]"
16,I Want You,"June 22, 2012",Castilian,[1h 15m],[],[]
17,Argo,"October 12, 2012",English,[2h 0m],"[$44,500,000.00]","[$232,324,128.00]"
18,Prometheus,"June 8, 2012",English,[2h 4m],"[$130,000,000.00]","[$403,170,142.00]"
19,Wrong Turn 5: Bloodlines,"October 23, 2012",English,[1h 31m],[],[]
20,Rise of the Guardians,"November 21, 2012",English,[1h 37m],"[$145,000,000.00]","[$306,941,670.00]"
21,Madagascar 3: Europe's Most Wanted,"June 8, 2012",English,[1h 33m],"[$145,000,000.00]","[$746,921,274.00]"
22,Madagascar 3: Europe's Most Wanted,"June 8, 2012",English,[1h 33m],"[$145,000,000.00]","[$746,921,274.00]"
23,The Hunger Games,"March 23, 2012",English,[2h 22m],"[$75,000,000.00]","[$691,210,692.00]"
24,Men in Black 3,"May 25, 2012",English,[1h 46m],"[$225,000,000.00]","[$624,026,776.00]"
25,Life of Pi,"November 21, 2012",English,[2h 7m],"[$120,000,000.00]","[$609,016,565.00]"
26,Silver Linings Playbook,"December 25, 2012",English,[2h 2m],"[$21,000,000.00]","[$236,412,453.00]"
27,21 Jump Street,"March 12, 2012",English,[1h 49m],"[$42,000,000.00]","[$201,585,328.00]"
28,The Bourne Legacy,"August 10, 2012",English,[2h 15m],"[$130,000,000.00]","[$276,572,938.00]"
29,Christmas Crush,"November 17, 2012",English,[1h 28m],[],[]
30,The Expendables 2,"August 17, 2012",English,[1h 43m],"[$100,000,000.00]","[$312,573,423.00]"
...,...,...,...,...,...,...
600,Don't Knock Twice,"February 3, 2017",English,[1h 33m],[],[]
601,Rattrapage,"August 9, 2017",French,[1h 25m],[],[]
602,The Evil Within,"February 27, 2017",English,[1h 38m],"[$4,000,000.00]",[]
603,Empire of the Sharks,"August 5, 2017",English,[],[],[]
604,The Vault,"September 1, 2017",English,[1h 31m],"[$5,000,000.00]","[$5,728.00]"
605,Promise at Dawn,"December 20, 2017",French,[2h 10m],[],[]
606,Mr & Mme Adelman,"March 8, 2017",French,[2h 0m],[],[]
607,The Adventurers,"August 11, 2017",Cantonese,[2h 20m],[],"[$216,556.00]"
608,Rock'n Roll,"February 15, 2017",French,[2h 3m],"[$17,900,000.00]",[]
609,Small Town Killers,"January 12, 2017",Danish,[1h 30m],[],[]
610,Small Town Killers,"January 12, 2017",Danish,[1h 30m],[],[]
611,American Gothic,"October 24, 2017",English,[1h 17m],[],[]
612,Tangled: Before Ever After,"March 10, 2017",English,[0h 55m],[],[]
613,Legend of the Naga Pearls,"August 11, 2017",Chinese,[1h 48m],"[$38,000,000.00]",[]
614,Black Snow,"January 19, 2017",Castilian,[1h 30m],"[$4,000,000.00]","[$1,440,000.00]"
615,The Gracefield Incident,"July 21, 2017",English,[1h 35m],[],[]
616,Kiss and Kill,"August 8, 2017",English,[1h 21m],[],[]
617,Vengeance: A Love Story,"March 16, 2017",English,[1h 39m],[],"[$4,526.00]"
618,Tubelight,"June 23, 2017",Hindi,[2h 16m],[],[]
619,Django,"February 9, 2017",French,[1h 57m],[],"[$11,722.00]"
620,1 Night,"October 14, 2016",English,[1h 20m],[],[]
621,Singularity,"November 24, 2017",English,[1h 32m],[],[]
622,Crystal Inferno,"November 4, 2017",English,[1h 30m],"[$2,342,264.00]",[]
623,Jagga Jasoos,"July 14, 2017",Hindi,[3h 0m],[],[]
624,Catfight,"September 8, 2016",English,[1h 36m],[],[]
625,Liquid Truth,"October 19, 2017",Portuguese,[1h 27m],[],[]
626,Prevenge,"September 1, 2016",English,[1h 28m],[],[]
627,Bottom of the World,"March 31, 2017",English,[1h 25m],[],[]
628,Atomica,"March 17, 2017",English,[1h 21m],[],[]
629,The Truth About Love Is...,"March 30, 2017",Italian,[1h 32m],"[$2,469,509.00]",[]

In [18]:
for i in range(len(df['Runtime'])):
    if df.iloc[i]['Runtime'] == []:
        df.iloc[i]['Runtime'] = np.nan
    else:
        df.iloc[i]['Runtime'] = df.iloc[i]['Runtime'][0]
df

,Movie,Release_date,Language,Runtime,Budget,Revenue
1,The Avengers,"May 4, 2012",English,2h 23m,"[$220,000,000.00]","[$1,519,557,910.00]"
2,Snow White and the Huntsman,"June 1, 2012",English,2h 7m,"[$170,000,000.00]","[$396,600,000.00]"
3,The Hobbit: An Unexpected Journey,"December 14, 2012",English,2h 49m,"[$250,000,000.00]","[$1,021,103,568.00]"
4,Brave,"June 22, 2012",English,1h 33m,"[$185,000,000.00]","[$538,983,207.00]"
5,The Dark Knight Rises,"July 20, 2012",English,2h 45m,"[$250,000,000.00]","[$1,084,939,099.00]"
6,Django Unchained,"December 11, 2012",English,2h 45m,"[$100,000,000.00]","[$425,368,238.00]"
7,The Amazing Spider-Man,"July 4, 2012",English,2h 16m,"[$215,000,000.00]","[$752,215,857.00]"
8,Skyfall,"November 9, 2012",English,2h 23m,"[$200,000,000.00]","[$1,108,561,013.00]"
9,Sexual Chronicles of a French Family,"June 1, 2012",French,1h 21m,[],[]
10,The Lorax,"March 1, 2012",English,1h 26m,"[$70,000,000.00]","[$348,840,316.00]"
11,Hotel Transylvania,"September 28, 2012",English,1h 31m,"[$85,000,000.00]","[$358,375,603.00]"
12,Wreck-It Ralph,"November 2, 2012",English,1h 48m,"[$165,000,000.00]","[$471,222,889.00]"
13,Ice Age: Continental Drift,"July 13, 2012",English,1h 28m,"[$95,000,000.00]","[$877,244,782.00]"
14,Mirror Mirror,"March 30, 2012",English,1h 46m,"[$85,000,000.00]","[$183,018,522.00]"
15,The Twilight Saga: Breaking Dawn - Part 2,"November 16, 2012",English,1h 55m,"[$120,000,000.00]","[$829,000,000.00]"
16,I Want You,"June 22, 2012",Castilian,1h 15m,[],[]
17,Argo,"October 12, 2012",English,2h 0m,"[$44,500,000.00]","[$232,324,128.00]"
18,Prometheus,"June 8, 2012",English,2h 4m,"[$130,000,000.00]","[$403,170,142.00]"
19,Wrong Turn 5: Bloodlines,"October 23, 2012",English,1h 31m,[],[]
20,Rise of the Guardians,"November 21, 2012",English,1h 37m,"[$145,000,000.00]","[$306,941,670.00]"
21,Madagascar 3: Europe's Most Wanted,"June 8, 2012",English,1h 33m,"[$145,000,000.00]","[$746,921,274.00]"
22,Madagascar 3: Europe's Most Wanted,"June 8, 2012",English,1h 33m,"[$145,000,000.00]","[$746,921,274.00]"
23,The Hunger Games,"March 23, 2012",English,2h 22m,"[$75,000,000.00]","[$691,210,692.00]"
24,Men in Black 3,"May 25, 2012",English,1h 46m,"[$225,000,000.00]","[$624,026,776.00]"
25,Life of Pi,"November 21, 2012",English,2h 7m,"[$120,000,000.00]","[$609,016,565.00]"
26,Silver Linings Playbook,"December 25, 2012",English,2h 2m,"[$21,000,000.00]","[$236,412,453.00]"
27,21 Jump Street,"March 12, 2012",English,1h 49m,"[$42,000,000.00]","[$201,585,328.00]"
28,The Bourne Legacy,"August 10, 2012",English,2h 15m,"[$130,000,000.00]","[$276,572,938.00]"
29,Christmas Crush,"November 17, 2012",English,1h 28m,[],[]
30,The Expendables 2,"August 17, 2012",English,1h 43m,"[$100,000,000.00]","[$312,573,423.00]"
...,...,...,...,...,...,...
600,Don't Knock Twice,"February 3, 2017",English,1h 33m,[],[]
601,Rattrapage,"August 9, 2017",French,1h 25m,[],[]
602,The Evil Within,"February 27, 2017",English,1h 38m,"[$4,000,000.00]",[]
603,Empire of the Sharks,"August 5, 2017",English,NaN,[],[]
604,The Vault,"September 1, 2017",English,1h 31m,"[$5,000,000.00]","[$5,728.00]"
605,Promise at Dawn,"December 20, 2017",French,2h 10m,[],[]
606,Mr & Mme Adelman,"March 8, 2017",French,2h 0m,[],[]
607,The Adventurers,"August 11, 2017",Cantonese,2h 20m,[],"[$216,556.00]"
608,Rock'n Roll,"February 15, 2017",French,2h 3m,"[$17,900,000.00]",[]
609,Small Town Killers,"January 12, 2017",Danish,1h 30m,[],[]
610,Small Town Killers,"January 12, 2017",Danish,1h 30m,[],[]
611,American Gothic,"October 24, 2017",English,1h 17m,[],[]
612,Tangled: Before Ever After,"March 10, 2017",English,0h 55m,[],[]
613,Legend of the Naga Pearls,"August 11, 2017",Chinese,1h 48m,"[$38,000,000.00]",[]
614,Black Snow,"January 19, 2017",Castilian,1h 30m,"[$4,000,000.00]","[$1,440,000.00]"
615,The Gracefield Incident,"July 21, 2017",English,1h 35m,[],[]
616,Kiss and Kill,"August 8, 2017",English,1h 21m,[],[]
617,Vengeance: A Love Story,"March 16, 2017",English,1h 39m,[],"[$4,526.00]"
618,Tubelight,"June 23, 2017",Hindi,2h 16m,[],[]
619,Django,"February 9, 2017",French,1h 57m,[],"[$11,722.00]"
620,1 Night,"October 14, 2016",English,1h 20m,[],[]
621,Singularity,"November 24, 2017",English,1h 32m,[],[]
622,Crystal Inferno,"November 4, 2017",English,1h 30m,"[$2,342,264.00]",[]
623,Jagga Jasoos,"July 14, 2017",Hindi,3h 0m,[],[]
624,Catfight,"September 8, 2016",English,1h 36m,[],[]
625,Liquid Truth,"October 19, 2017",Portuguese,1h 27m,[],[]
626,Prevenge,"September 1, 2016",English,1h 28m,[],[]
627,Bottom of the World,"March 31, 2017",English,1h 25m,[],[]
628,Atomica,"March 17, 2017",English,1h 21m,[],[]
629,The Truth About Love Is...,"March 30, 2017",Italian,1h 32m,"[$2,469,509.00]",[]

In [19]:
for i in range(len(df['Budget'])):
    if df.iloc[i]['Budget'] == []:
        df.iloc[i]['Budget'] = np.nan
    else:
        df.iloc[i]['Budget'] = df.iloc[i]['Budget'][0]
df

,Movie,Release_date,Language,Runtime,Budget,Revenue
1,The Avengers,"May 4, 2012",English,2h 23m,"$220,000,000.00","[$1,519,557,910.00]"
2,Snow White and the Huntsman,"June 1, 2012",English,2h 7m,"$170,000,000.00","[$396,600,000.00]"
3,The Hobbit: An Unexpected Journey,"December 14, 2012",English,2h 49m,"$250,000,000.00","[$1,021,103,568.00]"
4,Brave,"June 22, 2012",English,1h 33m,"$185,000,000.00","[$538,983,207.00]"
5,The Dark Knight Rises,"July 20, 2012",English,2h 45m,"$250,000,000.00","[$1,084,939,099.00]"
6,Django Unchained,"December 11, 2012",English,2h 45m,"$100,000,000.00","[$425,368,238.00]"
7,The Amazing Spider-Man,"July 4, 2012",English,2h 16m,"$215,000,000.00","[$752,215,857.00]"
8,Skyfall,"November 9, 2012",English,2h 23m,"$200,000,000.00","[$1,108,561,013.00]"
9,Sexual Chronicles of a French Family,"June 1, 2012",French,1h 21m,NaN,[]
10,The Lorax,"March 1, 2012",English,1h 26m,"$70,000,000.00","[$348,840,316.00]"
11,Hotel Transylvania,"September 28, 2012",English,1h 31m,"$85,000,000.00","[$358,375,603.00]"
12,Wreck-It Ralph,"November 2, 2012",English,1h 48m,"$165,000,000.00","[$471,222,889.00]"
13,Ice Age: Continental Drift,"July 13, 2012",English,1h 28m,"$95,000,000.00","[$877,244,782.00]"
14,Mirror Mirror,"March 30, 2012",English,1h 46m,"$85,000,000.00","[$183,018,522.00]"
15,The Twilight Saga: Breaking Dawn - Part 2,"November 16, 2012",English,1h 55m,"$120,000,000.00","[$829,000,000.00]"
16,I Want You,"June 22, 2012",Castilian,1h 15m,NaN,[]
17,Argo,"October 12, 2012",English,2h 0m,"$44,500,000.00","[$232,324,128.00]"
18,Prometheus,"June 8, 2012",English,2h 4m,"$130,000,000.00","[$403,170,142.00]"
19,Wrong Turn 5: Bloodlines,"October 23, 2012",English,1h 31m,NaN,[]
20,Rise of the Guardians,"November 21, 2012",English,1h 37m,"$145,000,000.00","[$306,941,670.00]"
21,Madagascar 3: Europe's Most Wanted,"June 8, 2012",English,1h 33m,"$145,000,000.00","[$746,921,274.00]"
22,Madagascar 3: Europe's Most Wanted,"June 8, 2012",English,1h 33m,"$145,000,000.00","[$746,921,274.00]"
23,The Hunger Games,"March 23, 2012",English,2h 22m,"$75,000,000.00","[$691,210,692.00]"
24,Men in Black 3,"May 25, 2012",English,1h 46m,"$225,000,000.00","[$624,026,776.00]"
25,Life of Pi,"November 21, 2012",English,2h 7m,"$120,000,000.00","[$609,016,565.00]"
26,Silver Linings Playbook,"December 25, 2012",English,2h 2m,"$21,000,000.00","[$236,412,453.00]"
27,21 Jump Street,"March 12, 2012",English,1h 49m,"$42,000,000.00","[$201,585,328.00]"
28,The Bourne Legacy,"August 10, 2012",English,2h 15m,"$130,000,000.00","[$276,572,938.00]"
29,Christmas Crush,"November 17, 2012",English,1h 28m,NaN,[]
30,The Expendables 2,"August 17, 2012",English,1h 43m,"$100,000,000.00","[$312,573,423.00]"
...,...,...,...,...,...,...
600,Don't Knock Twice,"February 3, 2017",English,1h 33m,NaN,[]
601,Rattrapage,"August 9, 2017",French,1h 25m,NaN,[]
602,The Evil Within,"February 27, 2017",English,1h 38m,"$4,000,000.00",[]
603,Empire of the Sharks,"August 5, 2017",English,NaN,NaN,[]
604,The Vault,"September 1, 2017",English,1h 31m,"$5,000,000.00","[$5,728.00]"
605,Promise at Dawn,"December 20, 2017",French,2h 10m,NaN,[]
606,Mr & Mme Adelman,"March 8, 2017",French,2h 0m,NaN,[]
607,The Adventurers,"August 11, 2017",Cantonese,2h 20m,NaN,"[$216,556.00]"
608,Rock'n Roll,"February 15, 2017",French,2h 3m,"$17,900,000.00",[]
609,Small Town Killers,"January 12, 2017",Danish,1h 30m,NaN,[]
610,Small Town Killers,"January 12, 2017",Danish,1h 30m,NaN,[]
611,American Gothic,"October 24, 2017",English,1h 17m,NaN,[]
612,Tangled: Before Ever After,"March 10, 2017",English,0h 55m,NaN,[]
613,Legend of the Naga Pearls,"August 11, 2017",Chinese,1h 48m,"$38,000,000.00",[]
614,Black Snow,"January 19, 2017",Castilian,1h 30m,"$4,000,000.00","[$1,440,000.00]"
615,The Gracefield Incident,"July 21, 2017",English,1h 35m,NaN,[]
616,Kiss and Kill,"August 8, 2017",English,1h 21m,NaN,[]
617,Vengeance: A Love Story,"March 16, 2017",English,1h 39m,NaN,"[$4,526.00]"
618,Tubelight,"June 23, 2017",Hindi,2h 16m,NaN,[]
619,Django,"February 9, 2017",French,1h 57m,NaN,"[$11,722.00]"
620,1 Night,"October 14, 2016",English,1h 20m,NaN,[]
621,Singularity,"November 24, 2017",English,1h 32m,NaN,[]
622,Crystal Inferno,"November 4, 2017",English,1h 30m,"$2,342,264.00",[]
623,Jagga Jasoos,"July 14, 2017",Hindi,3h 0m,NaN,[]
624,Catfight,"September 8, 2016",English,1h 36m,NaN,[]
625,Liquid Truth,"October 19, 2017",Portuguese,1h 27m,NaN,[]
626,Prevenge,"September 1, 2016",English,1h 28m,NaN,[]
627,Bottom of the World,"March 31, 2017",English,1h 25m,NaN,[]
628,Atomica,"March 17, 2017",English,1h 21m,NaN,[]
629,The Truth About Love Is...,"March 30, 2017",Italian,1h 32m,"$2,469,509.00",[]

In [20]:
for i in range(len(df['Revenue'])):
    if df.iloc[i]['Revenue'] == []:
        df.iloc[i]['Revenue'] = np.nan
    else:
        df.iloc[i]['Revenue'] = df.iloc[i]['Revenue'][0]
df

,Movie,Release_date,Language,Runtime,Budget,Revenue
1,The Avengers,"May 4, 2012",English,2h 23m,"$220,000,000.00","$1,519,557,910.00"
2,Snow White and the Huntsman,"June 1, 2012",English,2h 7m,"$170,000,000.00","$396,600,000.00"
3,The Hobbit: An Unexpected Journey,"December 14, 2012",English,2h 49m,"$250,000,000.00","$1,021,103,568.00"
4,Brave,"June 22, 2012",English,1h 33m,"$185,000,000.00","$538,983,207.00"
5,The Dark Knight Rises,"July 20, 2012",English,2h 45m,"$250,000,000.00","$1,084,939,099.00"
6,Django Unchained,"December 11, 2012",English,2h 45m,"$100,000,000.00","$425,368,238.00"
7,The Amazing Spider-Man,"July 4, 2012",English,2h 16m,"$215,000,000.00","$752,215,857.00"
8,Skyfall,"November 9, 2012",English,2h 23m,"$200,000,000.00","$1,108,561,013.00"
9,Sexual Chronicles of a French Family,"June 1, 2012",French,1h 21m,NaN,NaN
10,The Lorax,"March 1, 2012",English,1h 26m,"$70,000,000.00","$348,840,316.00"
11,Hotel Transylvania,"September 28, 2012",English,1h 31m,"$85,000,000.00","$358,375,603.00"
12,Wreck-It Ralph,"November 2, 2012",English,1h 48m,"$165,000,000.00","$471,222,889.00"
13,Ice Age: Continental Drift,"July 13, 2012",English,1h 28m,"$95,000,000.00","$877,244,782.00"
14,Mirror Mirror,"March 30, 2012",English,1h 46m,"$85,000,000.00","$183,018,522.00"
15,The Twilight Saga: Breaking Dawn - Part 2,"November 16, 2012",English,1h 55m,"$120,000,000.00","$829,000,000.00"
16,I Want You,"June 22, 2012",Castilian,1h 15m,NaN,NaN
17,Argo,"October 12, 2012",English,2h 0m,"$44,500,000.00","$232,324,128.00"
18,Prometheus,"June 8, 2012",English,2h 4m,"$130,000,000.00","$403,170,142.00"
19,Wrong Turn 5: Bloodlines,"October 23, 2012",English,1h 31m,NaN,NaN
20,Rise of the Guardians,"November 21, 2012",English,1h 37m,"$145,000,000.00","$306,941,670.00"
21,Madagascar 3: Europe's Most Wanted,"June 8, 2012",English,1h 33m,"$145,000,000.00","$746,921,274.00"
22,Madagascar 3: Europe's Most Wanted,"June 8, 2012",English,1h 33m,"$145,000,000.00","$746,921,274.00"
23,The Hunger Games,"March 23, 2012",English,2h 22m,"$75,000,000.00","$691,210,692.00"
24,Men in Black 3,"May 25, 2012",English,1h 46m,"$225,000,000.00","$624,026,776.00"
25,Life of Pi,"November 21, 2012",English,2h 7m,"$120,000,000.00","$609,016,565.00"
26,Silver Linings Playbook,"December 25, 2012",English,2h 2m,"$21,000,000.00","$236,412,453.00"
27,21 Jump Street,"March 12, 2012",English,1h 49m,"$42,000,000.00","$201,585,328.00"
28,The Bourne Legacy,"August 10, 2012",English,2h 15m,"$130,000,000.00","$276,572,938.00"
29,Christmas Crush,"November 17, 2012",English,1h 28m,NaN,NaN
30,The Expendables 2,"August 17, 2012",English,1h 43m,"$100,000,000.00","$312,573,423.00"
...,...,...,...,...,...,...
600,Don't Knock Twice,"February 3, 2017",English,1h 33m,NaN,NaN
601,Rattrapage,"August 9, 2017",French,1h 25m,NaN,NaN
602,The Evil Within,"February 27, 2017",English,1h 38m,"$4,000,000.00",NaN
603,Empire of the Sharks,"August 5, 2017",English,NaN,NaN,NaN
604,The Vault,"September 1, 2017",English,1h 31m,"$5,000,000.00","$5,728.00"
605,Promise at Dawn,"December 20, 2017",French,2h 10m,NaN,NaN
606,Mr & Mme Adelman,"March 8, 2017",French,2h 0m,NaN,NaN
607,The Adventurers,"August 11, 2017",Cantonese,2h 20m,NaN,"$216,556.00"
608,Rock'n Roll,"February 15, 2017",French,2h 3m,"$17,900,000.00",NaN
609,Small Town Killers,"January 12, 2017",Danish,1h 30m,NaN,NaN
610,Small Town Killers,"January 12, 2017",Danish,1h 30m,NaN,NaN
611,American Gothic,"October 24, 2017",English,1h 17m,NaN,NaN
612,Tangled: Before Ever After,"March 10, 2017",English,0h 55m,NaN,NaN
613,Legend of the Naga Pearls,"August 11, 2017",Chinese,1h 48m,"$38,000,000.00",NaN
614,Black Snow,"January 19, 2017",Castilian,1h 30m,"$4,000,000.00","$1,440,000.00"
615,The Gracefield Incident,"July 21, 2017",English,1h 35m,NaN,NaN
616,Kiss and Kill,"August 8, 2017",English,1h 21m,NaN,NaN
617,Vengeance: A Love Story,"March 16, 2017",English,1h 39m,NaN,"$4,526.00"
618,Tubelight,"June 23, 2017",Hindi,2h 16m,NaN,NaN
619,Django,"February 9, 2017",French,1h 57m,NaN,"$11,722.00"
620,1 Night,"October 14, 2016",English,1h 20m,NaN,NaN
621,Singularity,"November 24, 2017",English,1h 32m,NaN,NaN
622,Crystal Inferno,"November 4, 2017",English,1h 30m,"$2,342,264.00",NaN
623,Jagga Jasoos,"July 14, 2017",Hindi,3h 0m,NaN,NaN
624,Catfight,"September 8, 2016",English,1h 36m,NaN,NaN
625,Liquid Truth,"October 19, 2017",Portuguese,1h 27m,NaN,NaN
626,Prevenge,"September 1, 2016",English,1h 28m,NaN,NaN
627,Bottom of the World,"March 31, 2017",English,1h 25m,NaN,NaN
628,Atomica,"March 17, 2017",English,1h 21m,NaN,NaN
629,The Truth About Love Is...,"March 30, 2017",Italian,1h 32m,"$2,469,509.00",NaN

In [21]:
df=df.set_index('Movie')

In [22]:
df

,Release_date,Language,Runtime,Budget,Revenue
Movie,,,,,
The Avengers,"May 4, 2012",English,2h 23m,"$220,000,000.00","$1,519,557,910.00"
Snow White and the Huntsman,"June 1, 2012",English,2h 7m,"$170,000,000.00","$396,600,000.00"
The Hobbit: An Unexpected Journey,"December 14, 2012",English,2h 49m,"$250,000,000.00","$1,021,103,568.00"
Brave,"June 22, 2012",English,1h 33m,"$185,000,000.00","$538,983,207.00"
The Dark Knight Rises,"July 20, 2012",English,2h 45m,"$250,000,000.00","$1,084,939,099.00"
Django Unchained,"December 11, 2012",English,2h 45m,"$100,000,000.00","$425,368,238.00"
The Amazing Spider-Man,"July 4, 2012",English,2h 16m,"$215,000,000.00","$752,215,857.00"
Skyfall,"November 9, 2012",English,2h 23m,"$200,000,000.00","$1,108,561,013.00"
Sexual Chronicles of a French Family,"June 1, 2012",French,1h 21m,NaN,NaN
The Lorax,"March 1, 2012",English,1h 26m,"$70,000,000.00","$348,840,316.00"
Hotel Transylvania,"September 28, 2012",English,1h 31m,"$85,000,000.00","$358,375,603.00"
Wreck-It Ralph,"November 2, 2012",English,1h 48m,"$165,000,000.00","$471,222,889.00"
Ice Age: Continental Drift,"July 13, 2012",English,1h 28m,"$95,000,000.00","$877,244,782.00"
Mirror Mirror,"March 30, 2012",English,1h 46m,"$85,000,000.00","$183,018,522.00"
The Twilight Saga: Breaking Dawn - Part 2,"November 16, 2012",English,1h 55m,"$120,000,000.00","$829,000,000.00"
I Want You,"June 22, 2012",Castilian,1h 15m,NaN,NaN
Argo,"October 12, 2012",English,2h 0m,"$44,500,000.00","$232,324,128.00"
Prometheus,"June 8, 2012",English,2h 4m,"$130,000,000.00","$403,170,142.00"
Wrong Turn 5: Bloodlines,"October 23, 2012",English,1h 31m,NaN,NaN
Rise of the Guardians,"November 21, 2012",English,1h 37m,"$145,000,000.00","$306,941,670.00"
Madagascar 3: Europe's Most Wanted,"June 8, 2012",English,1h 33m,"$145,000,000.00","$746,921,274.00"
Madagascar 3: Europe's Most Wanted,"June 8, 2012",English,1h 33m,"$145,000,000.00","$746,921,274.00"
The Hunger Games,"March 23, 2012",English,2h 22m,"$75,000,000.00","$691,210,692.00"
Men in Black 3,"May 25, 2012",English,1h 46m,"$225,000,000.00","$624,026,776.00"
Life of Pi,"November 21, 2012",English,2h 7m,"$120,000,000.00","$609,016,565.00"
Silver Linings Playbook,"December 25, 2012",English,2h 2m,"$21,000,000.00","$236,412,453.00"
21 Jump Street,"March 12, 2012",English,1h 49m,"$42,000,000.00","$201,585,328.00"
The Bourne Legacy,"August 10, 2012",English,2h 15m,"$130,000,000.00","$276,572,938.00"
Christmas Crush,"November 17, 2012",English,1h 28m,NaN,NaN
The Expendables 2,"August 17, 2012",English,1h 43m,"$100,000,000.00","$312,573,423.00"
...,...,...,...,...,...
Don't Knock Twice,"February 3, 2017",English,1h 33m,NaN,NaN
Rattrapage,"August 9, 2017",French,1h 25m,NaN,NaN
The Evil Within,"February 27, 2017",English,1h 38m,"$4,000,000.00",NaN
Empire of the Sharks,"August 5, 2017",English,NaN,NaN,NaN
The Vault,"September 1, 2017",English,1h 31m,"$5,000,000.00","$5,728.00"
Promise at Dawn,"December 20, 2017",French,2h 10m,NaN,NaN
Mr & Mme Adelman,"March 8, 2017",French,2h 0m,NaN,NaN
The Adventurers,"August 11, 2017",Cantonese,2h 20m,NaN,"$216,556.00"
Rock'n Roll,"February 15, 2017",French,2h 3m,"$17,900,000.00",NaN
Small Town Killers,"January 12, 2017",Danish,1h 30m,NaN,NaN
Small Town Killers,"January 12, 2017",Danish,1h 30m,NaN,NaN
American Gothic,"October 24, 2017",English,1h 17m,NaN,NaN
Tangled: Before Ever After,"March 10, 2017",English,0h 55m,NaN,NaN
Legend of the Naga Pearls,"August 11, 2017",Chinese,1h 48m,"$38,000,000.00",NaN
Black Snow,"January 19, 2017",Castilian,1h 30m,"$4,000,000.00","$1,440,000.00"
The Gracefield Incident,"July 21, 2017",English,1h 35m,NaN,NaN
Kiss and Kill,"August 8, 2017",English,1h 21m,NaN,NaN
Vengeance: A Love Story,"March 16, 2017",English,1h 39m,NaN,"$4,526.00"
Tubelight,"June 23, 2017",Hindi,2h 16m,NaN,NaN
Django,"February 9, 2017",French,1h 57m,NaN,"$11,722.00"
1 Night,"October 14, 2016",English,1h 20m,NaN,NaN
Singularity,"November 24, 2017",English,1h 32m,NaN,NaN
Crystal Inferno,"November 4, 2017",English,1h 30m,"$2,342,264.00",NaN
Jagga Jasoos,"July 14, 2017",Hindi,3h 0m,NaN,NaN
Catfight,"September 8, 2016",English,1h 36m,NaN,NaN
Liquid Truth,"October 19, 2017",Portuguese,1h 27m,NaN,NaN
Prevenge,"September 1, 2016",English,1h 28m,NaN,NaN
Bottom of the World,"March 31, 2017",English,1h 25m,NaN,NaN
Atomica,"March 17, 2017",English,1h 21m,NaN,NaN
The Truth About Love Is...,"March 30, 2017",Italian,1h 32m,"$2,469,509.00",NaN

In [23]:
df.to_csv('new_dataframe.csv', sep='\t', encoding='utf-8')