<h2>Get movie name list</h2>

In [1]:
import pandas as pd
import numpy as np

In [24]:
df_imdb = pd.read_csv('IMDB.csv')
type(df_imdb['Name'][0])

str

In [26]:
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2686 entries, 0 to 2685
Data columns (total 7 columns):
Unnamed: 0    2686 non-null int64
Name          2686 non-null object
Genre         2686 non-null object
Rating        2686 non-null float64
Votes         2686 non-null int64
BoxOffice     2686 non-null object
Year          2686 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 147.0+ KB

In [27]:
movie_list = []
for item in df_imdb.index:
    movie_list.append(df_imdb['Name'][item])

In [29]:
df_the = pd.read_csv('the_movie_bd_names.csv')

In [31]:
df_the.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3780 entries, 0 to 3779
Data columns (total 1 columns):
Movie    3780 non-null object
dtypes: object(1)
memory usage: 29.6+ KB

In [30]:
movie_list2 = []
for item in df_the.index:
    movie_list2.append(df_the['Movie'][item])

In [32]:
movie_list_combine = []
movie_list_combine = movie_list + [x for x in movie_list2 if x not in movie_list]

In [33]:
df = pd.DataFrame(movie_list_combine)
df.columns=['movie name']

In [34]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('Combined movie names.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='movie_info')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

<h2>Scrap data from rotten tomatoes</h2>

In [2]:
df_r = pd.read_csv('Combined movie names.csv')

In [12]:
#df_r

In [3]:
list_r = []
for i in df_r.index:
    list_r.append(df_r['movie name'][i])

In [4]:
import requests
from bs4 import BeautifulSoup

In [5]:
movie_url = []
for i in range(len(list_r)):
    movie_url.append('https://www.rottentomatoes.com/m/'+(list_r[i].replace(" ", "_")).lower())

In [13]:
#movie_url

In [7]:
movie_info3 = []
# tom_meter = []
# aud_score = []
# # meter_average_rate = []
# # aud_average_rate = []
# movie_name = []
# critics_consensus = []
for item in movie_url:
    try:
        data = requests.get(item, allow_redirects=False)
        if data.status_code == 200:
            data_h = BeautifulSoup(data.content,'lxml')

        moviename= item.split('m/')[-1].replace('_',' ')

        try:
            meter_score = data_h.find('span', class_ = "meter-value superPageFontColor").find('span').get_text().strip('\n')
        except:
            meter_score = np.NaN

        try:
            aud_score = data_h.find('div', class_="audience-score meter").find('span',class_ = 'superPageFontColor').get_text()
        except:
            aud_score = np.NaN
    
            
#         try:
#             cc = data_h.find('p', class_ = "critic_consensus superPageFontColor").get_text()
#         except:
#             cc = np.NaN
        
        movie_info3.append([moviename,meter_score, aud_score])
    
    except:
        continue

In [26]:
data = requests.get('https://www.rottentomatoes.com/m/crazy_rich_asians', allow_redirects=False)
# data_h = BeautifulSoup(data.content,'lxml')

In [28]:
data_h.find('p', class_ = "critic_consensus superPageFontColor").get_text()#.find('span', class_ = "subtle superPageFontColor")

'\nCritics Consensus:\n                    With a terrific cast and a surfeit of visual razzle dazzle, Crazy Rich Asians takes a satisfying step forward for screen representation while deftly drawing inspiration from the classic -- and still effective -- rom-com formula.\n                '

In [19]:
len(movie_info)

350

In [24]:
len(movie_info2)

1464

In [9]:
len(movie_info3)

4890

In [14]:
#movie_info3

In [ ]:
df = pd.DataFrame(movie_info3)
df.columns=['movie name','meter_score','audience_score']

In [12]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('Rotten Tomatoes.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='movie_info')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

<h2>Combine dataset</h2>

In [2]:
import pandas as pd
import numpy as np

In [6]:
df_t = pd.read_csv('tmdb_new.csv')
len(df_t)

3774

In [7]:
df_i = pd.read_csv('IMDB.csv')
len(df_i)

2686

In [8]:
df_combine = df_t.merge(df_i, how = 'left', left_on = 'Movie', right_on = 'Name')

In [9]:
len(df_combine)

3779

In [9]:
df_combine

,Movie,Release_date,Language,Runtime,Budget,Revenue,Unnamed: 0,Name,Genre,Rating,Votes,BoxOffice,Year
0,The Avengers,"May 4, 2012",English,2h 23m,"$220,000,000.00","$1,519,557,910.00",0.0,The Avengers,"Action, Adventure, Sci-Fi",8.1,1134273.0,"623,357,910",2012.0
1,Snow White and the Huntsman,"June 1, 2012",English,2h 7m,"$170,000,000.00","$396,600,000.00",16.0,Snow White and the Huntsman,"Action, Adventure, Drama",6.1,253972.0,"155,332,381",2012.0
2,The Hobbit: An Unexpected Journey,"December 14, 2012",English,2h 49m,"$250,000,000.00","$1,021,103,568.00",4.0,The Hobbit: An Unexpected Journey,"Adventure, Family, Fantasy",7.9,705872.0,"303,003,568",2012.0
3,Brave,"June 22, 2012",English,1h 33m,"$185,000,000.00","$538,983,207.00",7.0,Brave,"Animation, Adventure, Comedy",7.1,324942.0,"237,283,207",2012.0
4,The Dark Knight Rises,"July 20, 2012",English,2h 45m,"$250,000,000.00","$1,084,939,099.00",1.0,The Dark Knight Rises,"Action, Thriller",8.4,1343225.0,"448,139,099",2012.0
5,Django Unchained,"December 11, 2012",English,2h 45m,"$100,000,000.00","$425,368,238.00",14.0,Django Unchained,"Drama, Western",8.4,1164954.0,"162,805,434",2012.0
6,The Amazing Spider-Man,"July 4, 2012",English,2h 16m,"$215,000,000.00","$752,215,857.00",6.0,The Amazing Spider-Man,"Action, Adventure, Sci-Fi",7.0,511325.0,"262,030,663",2012.0
7,Skyfall,"November 9, 2012",English,2h 23m,"$200,000,000.00","$1,108,561,013.00",3.0,Skyfall,"Action, Adventure, Thriller",7.8,580191.0,"304,360,277",2012.0
8,Sexual Chronicles of a French Family,"June 1, 2012",French,1h 21m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,The Lorax,"March 1, 2012",English,1h 26m,"$70,000,000.00","$348,840,316.00",10.0,The Lorax,"Animation, Adventure, Comedy",6.4,87926.0,"214,030,500",2012.0
10,Hotel Transylvania,"September 28, 2012",English,1h 31m,"$85,000,000.00","$358,375,603.00",18.0,Hotel Transylvania,"Animation, Comedy, Family",7.1,197900.0,"148,313,048",2012.0
11,Wreck-It Ralph,"November 2, 2012",English,1h 48m,"$165,000,000.00","$471,222,889.00",11.0,Wreck-It Ralph,"Animation, Adventure, Comedy",7.7,322733.0,"189,422,889",2012.0
12,Ice Age: Continental Drift,"July 13, 2012",English,1h 28m,"$95,000,000.00","$877,244,782.00",15.0,Ice Age: Continental Drift,"Animation, Adventure, Comedy",6.6,168956.0,"161,321,843",2012.0
13,Mirror Mirror,"March 30, 2012",English,1h 46m,"$85,000,000.00","$183,018,522.00",48.0,Mirror Mirror,"Adventure, Comedy, Drama",5.6,77835.0,"64,935,167",2012.0
14,The Twilight Saga: Breaking Dawn - Part 2,"November 16, 2012",English,1h 55m,"$120,000,000.00","$829,000,000.00",5.0,The Twilight Saga: Breaking Dawn - Part 2,"Adventure, Drama, Fantasy",5.5,208987.0,"292,298,923",2012.0
15,I Want You,"June 22, 2012",Castilian,1h 15m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Argo,"October 12, 2012",English,2h 0m,"$44,500,000.00","$232,324,128.00",21.0,Argo,"Biography, Drama, Thriller",7.7,521869.0,"136,025,503",2012.0
17,Prometheus,"June 8, 2012",English,2h 4m,"$130,000,000.00","$403,170,142.00",23.0,Prometheus,"Adventure, Mystery, Sci-Fi",7.0,527789.0,"126,477,084",2012.0
18,Wrong Turn 5: Bloodlines,"October 23, 2012",English,1h 31m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Rise of the Guardians,"November 21, 2012",English,1h 37m,"$145,000,000.00","$306,941,670.00",30.0,Rise of the Guardians,"Animation, Adventure, Family",7.3,141120.0,"103,412,758",2012.0
20,Madagascar 3: Europe's Most Wanted,"June 8, 2012",English,1h 33m,"$145,000,000.00","$746,921,274.00",9.0,Madagascar 3: Europe's Most Wanted,"Animation, Adventure, Comedy",6.9,140245.0,"216,391,482",2012.0
21,Madagascar 3: Europe's Most Wanted,"June 8, 2012",English,1h 33m,"$145,000,000.00","$746,921,274.00",9.0,Madagascar 3: Europe's Most Wanted,"Animation, Adventure, Comedy",6.9,140245.0,"216,391,482",2012.0
22,The Hunger Games,"March 23, 2012",English,2h 22m,"$75,000,000.00","$691,210,692.00",2.0,The Hunger Games,"Adventure, Sci-Fi, Thriller",7.2,779338.0,"408,010,692",2012.0
23,Men in Black 3,"May 25, 2012",English,1h 46m,"$225,000,000.00","$624,026,776.00",13.0,Men in Black 3,"Action, Adventure, Comedy",6.8,299169.0,"179,020,854",2012.0
24,Life of Pi,"November 21, 2012",English,2h 7m,"$120,000,000.00","$609,016,565.00",26.0,Life of Pi,"Adventure, Drama, Fantasy",7.9,516627.0,"124,987,023",2012.0
25,Silver Linings Playbook,"December 25, 2012",English,2h 2m,"$21,000,000.00","$236,412,453.00",22.0,Silver Linings Playbook,"Comedy, Drama, Romance",7.7,605890.0,"132,092,958",2012.0
26,21 Jump Street,"March 12, 2012",English,1h 49m,"$42,000,000.00","$201,585,328.00",20.0,21 Jump Street,"Action, Comedy, Crime",7.2,465840.0,"138,447,667",2012.0
27,The Bourne Legacy,"August 10, 2012",English,2h 15m,"$130,000,000.00","$276,572,938.00",28.0,The Bourne Legacy,"Action, Adventure, Thriller",6.7,262668.0,"113,203,870",2012.0
28,Christmas Crush,"November 17, 2012",English,1h 28m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,The Expendables 2,"August 17, 2012",English,1h 43m,"$100,000,000.00","$312,573,423.00",35.0,The Expendables 2,"Action, Adventure, Thriller",6.6,272253.0,"85,017,401",2012.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3749,Don't Knock Twice,"February 3, 2017",English,1h 33m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3750,Rattrapage,"August 9, 2017",French,1h 25m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3751,The Evil Within,"February 27, 2017",English,1h 38m,"$4,000,000.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3752,Empire of the Sharks,"August 5, 2017",English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3753,The Vault,"September 1, 2017",English,1h 31m,"$5,000,000.00","$5,728.00",2680.0,The Vault,"Crime, Horror, Mystery",3.8,465.0,"5,728",2017.0
3754,Promise at Dawn,"December 20, 2017",French,2h 10m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3755,Mr & Mme Adelman,"March 8, 2017",French,2h 0m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3756,The Adventurers,"August 11, 2017",Cantonese,2h 20m,NaN,"$216,556.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3757,Rock'n Roll,"February 15, 2017",French,2h 3m,"$17,900,000.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3758,Small Town Killers,"January 12, 2017",Danish,1h 30m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3759,Small Town Killers,"January 12, 2017",Danish,1h 30m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3760,American Gothic,"October 24, 2017",English,1h 17m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3761,Tangled: Before Ever After,"March 10, 2017",English,0h 55m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3762,Legend of the Naga Pearls,"August 11, 2017",Chinese,1h 48m,"$38,000,000.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3763,Black Snow,"January 19, 2017",Castilian,1h 30m,"$4,000,000.00","$1,440,000.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3764,The Gracefield Incident,"July 21, 2017",English,1h 35m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3765,Kiss and Kill,"August 8, 2017",English,1h 21m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3766,Vengeance: A Love Story,"March 16, 2017",English,1h 39m,NaN,"$4,526.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3767,Tubelight,"June 23, 2017",Hindi,2h 16m,NaN,NaN,2446.0,Tubelight,"Drama, War",4.1,11846.0,"930,058",2017.0
3768,Django,"February 9, 2017",French,1h 57m,NaN,"$11,722.00",2589.0,Django,"Biography, Drama, Music",6.2,994.0,"52,692",2017.0
3769,1 Night,"October 14, 2016",English,1h 20m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3770,Singularity,"November 24, 2017",English,1h 32m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3771,Crystal Inferno,"November 4, 2017",English,1h 30m,"$2,342,264.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3772,Jagga Jasoos,"July 14, 2017",Hindi,3h 0m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3773,Catfight,"September 8, 2016",English,1h 36m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3774,Liquid Truth,"October 19, 2017",Portuguese,1h 27m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3775,Prevenge,"September 1, 2016",English,1h 28m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3776,Bottom of the World,"March 31, 2017",English,1h 25m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3777,Atomica,"March 17, 2017",English,1h 21m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3778,The Truth About Love Is...,"March 30, 2017",Italian,1h 32m,"$2,469,509.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('Combine1.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df_combine.to_excel(writer, sheet_name='movie_info')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [2]:
df_ro = pd.read_csv('Rotten Tomatoes.csv')
df_ro

,Unnamed: 0,movie name,meter_score,audience_score
0,0,the avengers,NaN,NaN
1,1,the dark knight rises,87.0,90%
2,2,the hunger games,84.0,81%
3,3,skyfall,92.0,86%
4,4,the hobbit: an unexpected journey,92.0,86%
5,5,the twilight saga: breaking dawn - part 2,92.0,86%
6,6,the amazing spider-man,92.0,86%
7,7,brave,92.0,86%
8,8,ted,92.0,86%
9,9,madagascar 3: europe's most wanted,92.0,86%
10,10,the lorax,NaN,83%
11,11,wreck-it ralph,NaN,83%
12,12,lincoln,NaN,83%
13,13,men in black 3,NaN,83%
14,14,django unchained,NaN,83%
15,15,ice age: continental drift,NaN,83%
16,16,snow white and the huntsman,48.0,52%
17,17,les misérables,48.0,52%
18,18,hotel transylvania,44.0,72%
19,19,taken 2,22.0,53%
20,20,21 jump street,22.0,53%
21,21,argo,22.0,53%
22,22,silver linings playbook,92.0,86%
23,23,prometheus,NaN,NaN
24,24,safe house,NaN,NaN
25,25,the vow,NaN,NaN
26,26,life of pi,87.0,84%
27,27,magic mike,80.0,60%
28,28,the bourne legacy,56.0,58%
29,29,journey 2: the mysterious island,56.0,58%
...,...,...,...,...
4860,4860,wajib,100.0,75%
4861,4861,cleek,100.0,75%
4862,4862,the place,NaN,67%
4863,4863,smartass,NaN,83%
4864,4864,rattrapage,NaN,83%
4865,4865,the outcasts,NaN,83%
4866,4866,walk with me,NaN,NaN
4867,4867,promise at dawn,NaN,NaN
4868,4868,the shadow effect,NaN,NaN
4869,4869,katherine ryan: in trouble,NaN,NaN
4870,4870,naples in veils,NaN,30%
4871,4871,ajin: demi-human,NaN,30%
4872,4872,"michael bolton's big, sexy valentine's day spe...",NaN,30%
4873,4873,the houses october built 2,NaN,55%
4874,4874,bpm (beats per minute),NaN,55%
4875,4875,bpm (beats per minute),NaN,55%
4876,4876,awaken the shadowman,NaN,76%
4877,4877,"literally, right before aaron",NaN,76%
4878,4878,15+ iq krachoot,NaN,76%
4879,4879,a sort of family,NaN,40%
4880,4880,ghost house,NaN,40%
4881,4881,comment j'ai rencontré mon père,NaN,40%
4882,4882,r.a.i.d. special unit,NaN,40%
4883,4883,78/52,NaN,40%
4884,4884,patients,NaN,NaN
4885,4885,with open arms,NaN,0%
4886,4886,the good catholic,42.0,81%
4887,4887,happy family,42.0,81%
4888,4888,kiss and kill,NaN,3%
4889,4889,bigger fatter liar,NaN,25%

In [4]:
df_ro.rename(columns={
                          'movie name':'Movie'}, 
                 inplace=True)

In [ ]:
#df_combine3 = df_combine.merge(df_ro, how = 'left', left_on = 'Movie', right_on = 'movie name')

In [16]:
df_combine['Movie'] = df_combine['Movie'].str.lower()

In [17]:
df_combine_all = df_combine.merge(df_ro, how = 'left', left_on = 'Movie', right_on = 'Movie')

In [18]:
df_combine_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3914 entries, 0 to 3913
Data columns (total 16 columns):
Movie             3914 non-null object
Release_date      3914 non-null object
Language          3914 non-null object
Runtime           3849 non-null object
Budget            1683 non-null object
Revenue           1722 non-null object
Unnamed: 0_x      1591 non-null float64
Name              1591 non-null object
Genre             1591 non-null object
Rating            1591 non-null float64
Votes             1591 non-null float64
BoxOffice         1591 non-null object
Year              1591 non-null float64
Unnamed: 0_y      3768 non-null float64
meter_score       2559 non-null float64
audience_score    3364 non-null object
dtypes: float64(6), object(10)
memory usage: 519.8+ KB

In [19]:
df_combine_all

,Movie,Release_date,Language,Runtime,Budget,Revenue,Unnamed: 0_x,Name,Genre,Rating,Votes,BoxOffice,Year,Unnamed: 0_y,meter_score,audience_score
0,the avengers,"May 4, 2012",English,2h 23m,"$220,000,000.00","$1,519,557,910.00",0.0,The Avengers,"Action, Adventure, Sci-Fi",8.1,1134273.0,"623,357,910",2012.0,0.0,NaN,NaN
1,snow white and the huntsman,"June 1, 2012",English,2h 7m,"$170,000,000.00","$396,600,000.00",16.0,Snow White and the Huntsman,"Action, Adventure, Drama",6.1,253972.0,"155,332,381",2012.0,16.0,48.0,52%
2,the hobbit: an unexpected journey,"December 14, 2012",English,2h 49m,"$250,000,000.00","$1,021,103,568.00",4.0,The Hobbit: An Unexpected Journey,"Adventure, Family, Fantasy",7.9,705872.0,"303,003,568",2012.0,4.0,92.0,86%
3,brave,"June 22, 2012",English,1h 33m,"$185,000,000.00","$538,983,207.00",7.0,Brave,"Animation, Adventure, Comedy",7.1,324942.0,"237,283,207",2012.0,7.0,92.0,86%
4,the dark knight rises,"July 20, 2012",English,2h 45m,"$250,000,000.00","$1,084,939,099.00",1.0,The Dark Knight Rises,"Action, Thriller",8.4,1343225.0,"448,139,099",2012.0,1.0,87.0,90%
5,django unchained,"December 11, 2012",English,2h 45m,"$100,000,000.00","$425,368,238.00",14.0,Django Unchained,"Drama, Western",8.4,1164954.0,"162,805,434",2012.0,14.0,NaN,83%
6,the amazing spider-man,"July 4, 2012",English,2h 16m,"$215,000,000.00","$752,215,857.00",6.0,The Amazing Spider-Man,"Action, Adventure, Sci-Fi",7.0,511325.0,"262,030,663",2012.0,6.0,92.0,86%
7,skyfall,"November 9, 2012",English,2h 23m,"$200,000,000.00","$1,108,561,013.00",3.0,Skyfall,"Action, Adventure, Thriller",7.8,580191.0,"304,360,277",2012.0,3.0,92.0,86%
8,sexual chronicles of a french family,"June 1, 2012",French,1h 21m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2684.0,0.0,26%
9,the lorax,"March 1, 2012",English,1h 26m,"$70,000,000.00","$348,840,316.00",10.0,The Lorax,"Animation, Adventure, Comedy",6.4,87926.0,"214,030,500",2012.0,10.0,NaN,83%
10,hotel transylvania,"September 28, 2012",English,1h 31m,"$85,000,000.00","$358,375,603.00",18.0,Hotel Transylvania,"Animation, Comedy, Family",7.1,197900.0,"148,313,048",2012.0,18.0,44.0,72%
11,wreck-it ralph,"November 2, 2012",English,1h 48m,"$165,000,000.00","$471,222,889.00",11.0,Wreck-It Ralph,"Animation, Adventure, Comedy",7.7,322733.0,"189,422,889",2012.0,11.0,NaN,83%
12,ice age: continental drift,"July 13, 2012",English,1h 28m,"$95,000,000.00","$877,244,782.00",15.0,Ice Age: Continental Drift,"Animation, Adventure, Comedy",6.6,168956.0,"161,321,843",2012.0,15.0,NaN,83%
13,mirror mirror,"March 30, 2012",English,1h 46m,"$85,000,000.00","$183,018,522.00",48.0,Mirror Mirror,"Adventure, Comedy, Drama",5.6,77835.0,"64,935,167",2012.0,48.0,NaN,28%
14,the twilight saga: breaking dawn - part 2,"November 16, 2012",English,1h 55m,"$120,000,000.00","$829,000,000.00",5.0,The Twilight Saga: Breaking Dawn - Part 2,"Adventure, Drama, Fantasy",5.5,208987.0,"292,298,923",2012.0,5.0,92.0,86%
15,i want you,"June 22, 2012",Castilian,1h 15m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2690.0,NaN,66%
16,argo,"October 12, 2012",English,2h 0m,"$44,500,000.00","$232,324,128.00",21.0,Argo,"Biography, Drama, Thriller",7.7,521869.0,"136,025,503",2012.0,21.0,22.0,53%
17,prometheus,"June 8, 2012",English,2h 4m,"$130,000,000.00","$403,170,142.00",23.0,Prometheus,"Adventure, Mystery, Sci-Fi",7.0,527789.0,"126,477,084",2012.0,23.0,NaN,NaN
18,wrong turn 5: bloodlines,"October 23, 2012",English,1h 31m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2686.0,0.0,26%
19,rise of the guardians,"November 21, 2012",English,1h 37m,"$145,000,000.00","$306,941,670.00",30.0,Rise of the Guardians,"Animation, Adventure, Family",7.3,141120.0,"103,412,758",2012.0,30.0,74.0,80%
20,madagascar 3: europe's most wanted,"June 8, 2012",English,1h 33m,"$145,000,000.00","$746,921,274.00",9.0,Madagascar 3: Europe's Most Wanted,"Animation, Adventure, Comedy",6.9,140245.0,"216,391,482",2012.0,9.0,92.0,86%
21,madagascar 3: europe's most wanted,"June 8, 2012",English,1h 33m,"$145,000,000.00","$746,921,274.00",9.0,Madagascar 3: Europe's Most Wanted,"Animation, Adventure, Comedy",6.9,140245.0,"216,391,482",2012.0,9.0,92.0,86%
22,the hunger games,"March 23, 2012",English,2h 22m,"$75,000,000.00","$691,210,692.00",2.0,The Hunger Games,"Adventure, Sci-Fi, Thriller",7.2,779338.0,"408,010,692",2012.0,2.0,84.0,81%
23,men in black 3,"May 25, 2012",English,1h 46m,"$225,000,000.00","$624,026,776.00",13.0,Men in Black 3,"Action, Adventure, Comedy",6.8,299169.0,"179,020,854",2012.0,13.0,NaN,83%
24,life of pi,"November 21, 2012",English,2h 7m,"$120,000,000.00","$609,016,565.00",26.0,Life of Pi,"Adventure, Drama, Fantasy",7.9,516627.0,"124,987,023",2012.0,26.0,87.0,84%
25,silver linings playbook,"December 25, 2012",English,2h 2m,"$21,000,000.00","$236,412,453.00",22.0,Silver Linings Playbook,"Comedy, Drama, Romance",7.7,605890.0,"132,092,958",2012.0,22.0,92.0,86%
26,21 jump street,"March 12, 2012",English,1h 49m,"$42,000,000.00","$201,585,328.00",20.0,21 Jump Street,"Action, Comedy, Crime",7.2,465840.0,"138,447,667",2012.0,20.0,22.0,53%
27,the bourne legacy,"August 10, 2012",English,2h 15m,"$130,000,000.00","$276,572,938.00",28.0,The Bourne Legacy,"Action, Adventure, Thriller",6.7,262668.0,"113,203,870",2012.0,28.0,56.0,58%
28,christmas crush,"November 17, 2012",English,1h 28m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2687.0,0.0,26%
29,the expendables 2,"August 17, 2012",English,1h 43m,"$100,000,000.00","$312,573,423.00",35.0,The Expendables 2,"Action, Adventure, Thriller",6.6,272253.0,"85,017,401",2012.0,35.0,67.0,67%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3884,the evil within,"February 27, 2017",English,1h 38m,"$4,000,000.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3885,empire of the sharks,"August 5, 2017",English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4849.0,NaN,27%
3886,the vault,"September 1, 2017",English,1h 31m,"$5,000,000.00","$5,728.00",2680.0,The Vault,"Crime, Horror, Mystery",3.8,465.0,"5,728",2017.0,2678.0,NaN,NaN
3887,promise at dawn,"December 20, 2017",French,2h 10m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4867.0,NaN,NaN
3888,mr & mme adelman,"March 8, 2017",French,2h 0m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4839.0,60.0,76%
3889,the adventurers,"August 11, 2017",Cantonese,2h 20m,NaN,"$216,556.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3890,rock'n roll,"February 15, 2017",French,2h 3m,"$17,900,000.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4798.0,38.0,35%
3891,small town killers,"January 12, 2017",Danish,1h 30m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3892,small town killers,"January 12, 2017",Danish,1h 30m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3893,american gothic,"October 24, 2017",English,1h 17m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4800.0,38.0,35%
3894,tangled: before ever after,"March 10, 2017",English,0h 55m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4730.0,NaN,41%
3895,legend of the naga pearls,"August 11, 2017",Chinese,1h 48m,"$38,000,000.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3896,black snow,"January 19, 2017",Castilian,1h 30m,"$4,000,000.00","$1,440,000.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3897,the gracefield incident,"July 21, 2017",English,1h 35m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3898,kiss and kill,"August 8, 2017",English,1h 21m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4888.0,NaN,3%
3899,vengeance: a love story,"March 16, 2017",English,1h 39m,NaN,"$4,526.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,4664.0,NaN,58%
3900,vengeance: a love story,"March 16, 2017",English,1h 39m,NaN,"$4,526.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,4665.0,NaN,58%
3901,tubelight,"June 23, 2017",Hindi,2h 16m,NaN,NaN,2446.0,Tubelight,"Drama, War",4.1,11846.0,"930,058",2017.0,2444.0,18.0,47%
3902,django,"February 9, 2017",French,1h 57m,NaN,"$11,722.00",2589.0,Django,"Biography, Drama, Music",6.2,994.0,"52,692",2017.0,2587.0,92.0,84%
3903,1 night,"October 14, 2016",English,1h 20m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3904,singularity,"November 24, 2017",English,1h 32m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4697.0,NaN,NaN
3905,crystal inferno,"November 4, 2017",English,1h 30m,"$2,342,264.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3906,jagga jasoos,"July 14, 2017",Hindi,3h 0m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3907,catfight,"September 8, 2016",English,1h 36m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4722.0,NaN,NaN
3908,liquid truth,"October 19, 2017",Portuguese,1h 27m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4840.0,NaN,NaN
3909,prevenge,"September 1, 2016",English,1h 28m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4841.0,92.0,53%
3910,prevenge,"September 1, 2016",English,1h 28m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4842.0,92.0,53%
3911,bottom of the world,"March 31, 2017",English,1h 25m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4773.0,NaN,51%
3912,atomica,"March 17, 2017",English,1h 21m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4737.0,18.0,26%
3913,the truth about love is...,"March 30, 2017",Italian,1h 32m,"$2,469,509.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('Combine all 3(update).xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df_combine_all.to_excel(writer, sheet_name='movie_info')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [21]:
#organize again
df = df_combine_all[['Name', 'Release_date', 'Language', 'Runtime', 'Budget', 'Revenue', 'Genre', 'Rating', 'Votes', 'BoxOffice', 'Year', 'meter_score', 'audience_score']]